extends layouts/default

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-md-12
      h2 MineWeb.org
      ol.breadcrumb
        li
          a(href="/admin/dashboard") #{__('Accueil')}
        li.active
          strong #{__('Dashboard')}
  .wrapper.wrapper-content
    .row
      .col-lg-3
        .ibox.float-e-margins
          .ibox-title
            span.label.label-success.pull-right #{__('Total')}
            h5 #{__('Utilisateurs')}
          .ibox-content
            h1.no-margins #{usersCount}
            small #{__('Depuis l\'ouverture')}
      .col-lg-3
        .ibox.float-e-margins
          .ibox-title
            span.label.label-info.pull-right #{__('Mensuel')}
            h5 #{__('Hébergements')}
          .ibox-content
            h1.no-margins #{hostingsCount}
            small #{__('En ligne')}
      .col-lg-3
        .ibox.float-e-margins
          .ibox-title
            span.label.label-primary.pull-right #{__('Total')}
            h5 #{__('Licence')}
          .ibox-content
            h1.no-margins #{licensesCount}
            small #{__('Depuis l\'ouverture')}
      .col-lg-3
        .ibox.float-e-margins
          .ibox-title
            span.label.label-danger.pull-right #{__('Total')}
            h5 #{__('Bénéfices')}
          .ibox-content
            h1.no-margins #{profit} €
            small #{__('Générés')}
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-content
            div
              span.pull-right.text-right.hidden-xs.hidden-sm
                | Toutes les ventes : #{hostingsCount + licensesCount}
              h1.m-b-xs EUR #{profitThisMonth} €
              h3.font-bold.no-margins Générés au total ce mois-ci
            div#chart.hidden-xs.hidden-sm
              canvas#lineChart(height='70')
    .row
      .col-md-4
        .ibox.float-e-margins
          .ibox-title
            h5 #{__('Support')}
            .ibox-tools
              a.collapse-link
                i.fa.fa-chevron-up
              a.close-link
                i.fa.fa-times
          if ticketsList !== undefined && ticketsList.length > 0
            .ibox-content.ibox-heading
              h3
                i.fa.fa-envelope-o
                |  #{__('Nouveaux tickets')}
              small
                i.fa.fa-tim
                |  #{__('Vous avez %s tickets ouverts pour %s non pris en charges.', openedTickets, nonSupportedTickets)}
            .ibox-content

              each ticket in ticketsList
                .feed-activity-list
                  .feed-element
                    div
                      small.pull-right.text-navy.moment-date(fromNow) #{ticket.createdAt}
                      strong #{ticket.user.username}
                      div !{Utils.truncate(ticket.replies[0].content, 70, true)}
                      small.text-muted
                        if supported
                          | #{__('Pris en charge par %s', ticket.supported.username)}
                        else
                          | #{__('Non pris en charge')}

          else
            .alert.alert-danger #{__("Aucun tickets n'est ouvert.")}
      .col-md-8
        .ibox.float-e-margins
          .ibox-title
            h5 #{__('Paiements récents')}
            .ibox-tools
              a.collapse-link
                i.fa.fa-chevron-up
              a.close-link
                i.fa.fa-times
          .ibox-content
            table.table.table-hover.no-margins(style="font-size: 13px;")
              thead
                tr
                  th #{__('Type')}
                  th #{__('Montant')}
                  th #{__('Heure')}
                  th #{__('Utilisateur')}
              tbody
                each payment in paymentsList
                  tr
                    td #{payment.type}
                    td #{payment.amount} €
                    td
                      i.fa.fa-clock-o
                      | &nbsp;
                      span.moment-date(fromNow) #{payment.date}
                    td #{payment.user}


block cssCustom
  style.
    .line-legend li span{
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
    ul.line-legend {
      list-style: none;
      padding-left: 0;
      text-align: center;
    }
    .line-legend li {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }
block custom
  script(src="/js/admin/plugins/chartJs/Chart.min.js")
  script(type='text/javascript').
    $(document).ready(function() {
        var lineData = {
            labels: [
                ucfirst(moment().subtract(5, 'months').format('MMMM')),
                ucfirst(moment().subtract(4, 'months').format('MMMM')),
                ucfirst(moment().subtract(3, 'months').format('MMMM')),
                ucfirst(moment().subtract(2, 'months').format('MMMM')),
                ucfirst(moment().subtract(1, 'month').format('MMMM')),
                ucfirst(moment().format('MMMM'))
              ],
            datasets: [
                {
                    label: "#{__('Ventes de licences')}",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [#{sales['licenses'][0]}, #{sales['licenses'][1]}, #{sales['licenses'][2]}, #{sales['licenses'][3]}, #{sales['licenses'][4]}, #{sales['licenses'][5]}]
                },
                {
                    label: "#{__('Ventes d\'hébergements')}",
                    fillColor: "rgba(26,179,148,0.5)",
                    strokeColor: "rgba(26,179,148,0.7)",
                    pointColor: "rgba(26,179,148,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(26,179,148,1)",
                    data: [#{sales['hostings'][0]}, #{sales['hostings'][1]}, #{sales['hostings'][2]}, #{sales['hostings'][3]}, #{sales['hostings'][4]}, #{sales['hostings'][5]}]
                }
            ]
        };

        var lineOptions = {
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            bezierCurve: true,
            bezierCurveTension: 0.4,
            pointDot: true,
            pointDotRadius: 4,
            pointDotStrokeWidth: 1,
            pointHitDetectionRadius: 20,
            datasetStroke: true,
            datasetStrokeWidth: 2,
            datasetFill: true,
            responsive: true,
        };


        var ctx = document.getElementById("lineChart").getContext("2d");
        var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
        $('#chart').prepend(myNewChart.generateLegend())

    });
