extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
        .row
          .col-md-12
            h3.heading #{__('Découvrez nos')}
              span.accent &nbsp;#{__('plugins')}
              | &nbsp;#{__('et nos')}
              span.accent &nbsp;#{__('thèmes')}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12
          ul.nav.nav-tabs(role='tablist')
            li.nav-item(style="width:49%")
              a.text-center.nav-link(data-toggle="tab" href="#plugins" role="tab") #{__('Plugins')}
            li.nav-item(style="width:49%")
              a.text-center.nav-link(data-toggle="tab" href="#themes" role="tab") #{__('Themes')}
      .tab-content
        #plugins.tab-pane.fade.in.active(role='tabpanel', style="text-align: center; display: inline-flex")
          each plugin in plugins
            .card(style="width: 100%; margin-left:60px")
              .card-header
                h4.card-title #{plugin.slug}
                h6.card-subtitle.text-muted #{plugin.downloads} #{__('Téléchargements')}
              img(src=plugin.img, style="height: 80px", alt='Plugin background')
              .card-block
                p.card-text #{plugin.description}
                a.btn.btn-primary(href='/plugin/' + plugin.slug)
                  i.pe-7s-plus
                  | &nbsp;#{__("Plus d'informations")}
              .card-footer.text-muted  #{__('Dernière mise à jour')} 
                span.moment-date(fromNow) #{plugin.updatedAt}
                span : v#{plugin.version}
        #themes.tab-pane.fade(role='tabpanel')
          each theme in themes
            .card
              .card-header
                h4.card-title #{theme.slug}
                h6.card-subtitle.text-muted #{plugin.downloads} #{__('Téléchargements')}
              img(src=theme.img, style="height: 80px", alt='Theme background')
              .card-block
                p.card-text #{theme.description}
                a.btn.btn-primary(href='#')
                  i.pe-7s-plus
                  | &nbsp;#{__("Plus d'informations")}
              .card-footer.text-muted  #{__('Dernière mise à jour')} 
                span.moment-date(fromNow) #{plugin.updatedAt}
                span  : v#{plugin.version}
