extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
        .row
          .col-md-12
            h3.heading #{__('Découvrez nos')}
              span.accent &nbsp;#{__('plugins')}
              | &nbsp;#{__('et nos')}
              span.accent &nbsp;#{__('thèmes')}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12
          ul.nav.nav-tabs(role='tablist')
            li.nav-item(style="width:49%")
              a.text-center.nav-link.active(data-toggle="tab" href="#plugins" role="tab") #{__('Plugins')}
            li.nav-item(style="width:49%")
              a.text-center.nav-link(data-toggle="tab" href="#themes" role="tab") #{__('Thèmes')}
      .tab-content
        #plugins.tab-pane.fade.in.active(role='tabpanel')

          div.row.market-item
            div.col-md-12
              div.row
                - var i = 0
                each plugin in plugins
                  - i++

                  if i % 3 === 1 && i > 1
                    | </div><hr></div><div class="col-md-12"><div class="row">

                  div.col-md-4.text-center(style="margin-top:30px;")
                    h3 #{plugin.name}
                    div.img-container
                      img.img-rounded.img-responsive(src=plugin.img != null && plugin.img.length > 0 ? plugin.img : '/img/default_plugins.png')
                    p.lead.text-muted.market-item-desc !{Utils.truncate(plugin.description.replace(/(<([^>]+)>)/ig, ''), 78, true)}
                    p.text-muted.market-item-infos
                      span.pull-left
                        | #{__('Prix :')}&nbsp;
                        if plugin.price > 0
                          b #{plugin.price} €
                        else
                          em
                            span.tag.tag-success #{__('Gratuit')}
                      span.pull-right v#{plugin.version}
                      .clearfix
                    p.text-muted.market-item-infos.text-center
                      b #{plugin.downloads}
                      |  #{__('téléchargements')}
                    a.btn.btn-primary.btn-block(href='/market/plugin/' + plugin.slug)
                      i.fa.fa-plus
                      | &nbsp;#{__("Plus d'informations")}

        #themes.tab-pane.fade(role='tabpanel')

          div.row.market-item
            div.col-md-12
              div.row
                - var i = 0
                each theme in themes
                  - i++

                  if i % 3 === 1 && i > 1
                    | </div><hr></div><div class="col-md-12"><div class="row">

                  div.col-md-4.text-center(style="margin-top:30px;")
                    h3 #{theme.name}
                    div.img-container
                      img.img-rounded.img-responsive(src=theme.img != null && theme.img.length > 0 ? theme.img : '/img/default_plugins.png')
                    p.lead.text-muted.market-item-desc !{Utils.truncate(theme.description.replace(/(<([^>]+)>)/ig, ''), 78, true)}
                    p.text-muted.market-item-infos
                      span.pull-left
                        | #{__('Prix :')}&nbsp;
                        if theme.price > 0
                          b #{theme.price} €
                        else
                          em
                            span.tag.tag-success #{__('Gratuit')}
                      span.pull-right v#{theme.version}
                      .clearfix
                    p.text-muted.market-item-infos.text-center
                      b #{theme.downloads}
                      |  #{__('téléchargements')}
                    a.btn.btn-primary.btn-block(href='/market/theme/' + theme.slug)
                      i.fa.fa-plus
                      | &nbsp;#{__("Plus d'informations")}

block customCss
  style.
    .market-item-desc {
      word-break: break-all;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
    .img-container {
      height: 230px;
      overflow: hidden;
    }
    @media (max-width: 1200px) {
      .img-container {
        height: 190px;
      }
    }
    @media (max-width: 992px) {
      .img-container {
        height: 150px;
      }
    }
    @media (max-width: 768px) {
      .img-container {
        height: auto;
      }
    }
