extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
        .row
          .col-md-12
            h3.heading #{__('Découvrez nos')}
              span.accent &nbsp;#{__('plugins')}
              | &nbsp;#{__('et nos')}
              span.accent &nbsp;#{__('thèmes')}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12
          ul.nav.nav-tabs(role='tablist')
            li.nav-item(style="width:49%")
              a.text-center.nav-link.active(data-toggle="tab" href="#plugins" role="tab") #{__('Plugins')}
            li.nav-item(style="width:49%")
              a.text-center.nav-link(data-toggle="tab" href="#themes" role="tab") #{__('Themes')}
      .tab-content
        #plugins.tab-pane.fade.in.active(role='tabpanel', style="display: inline-flex")

          - var i = 0
          each plugin in plugins
            - i++

            if i > 1
              hr

            div.row.market-item
              div.col-md-6
                img.img-rounded.img-responsive(src=plugin.img != null && plugin.length > 0 ? plugin.img : '/img/default_plugins.png')
              div.col-md-6
                h3 #{plugin.name}
                p.lead.text-muted.market-item-desc !{Utils.truncate(plugin.description, 250, true)}
                p.text-muted.market-item-infos
                  | #{__('Prix :')}&nbsp;
                  if plugin.price > 0
                    b #{plugin.price} €
                  else
                    em
                      span.tag.tag-success #{__('Gratuit')}
                  br
                  | #{__('Téléchargements :')}&nbsp;
                  b #{plugin.downloads}
                  br
                  | #{__('Version actuelle :')}&nbsp;
                  b #{plugin.version}
                  br
                  | #{__('Dernière mise à jour :')}&nbsp;
                  b.moment-date(fromNow) #{plugin.updatedAt}

                a.btn.btn-primary(href='/market/plugin/' + plugin.slug)
                  i.fa.fa-plus
                  | &nbsp;#{__("Plus d'informations")}

        #themes.tab-pane.fade(role='tabpanel')

          - var i = 0
          each theme in themes
            - i++

            if i > 1
              hr

            div.row.market-item
              div.col-md-6
                img.img-rounded.img-responsive(src=theme.img != null && plugin.length > 0 ? plugin.img : '/img/default_plugins.png')
              div.col-md-6
                h3 #{theme.name}
                p.lead.text-muted.market-item-desc !{Utils.truncate(theme.description, 250, true)}
                p.text-muted.market-item-infos
                  | #{__('Prix :')}&nbsp;
                  if theme.price > 0
                    b #{theme.price} €
                  else
                    em
                      span.tag.tag-success #{__('Gratuit')}
                  br
                  | #{__('Téléchargements :')}&nbsp;
                  b #{theme.downloads}
                  br
                  | #{__('Version actuelle :')}&nbsp;
                  b #{theme.version}
                  br
                  | #{__('Dernière mise à jour :')}&nbsp;
                  b.moment-date(fromNow) #{theme.updatedAt}

                a.btn.btn-primary(href='/market/theme/' + theme.slug)
                  i.fa.fa-plus
                  | &nbsp;#{__("Plus d'informations")}
