extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
        .row
          .col-md-12
            h3.heading #{__('Découvrez nos')}
              span.accent &nbsp;#{__('plugins')}
              | &nbsp;#{__('et nos')}
              span.accent &nbsp;#{__('thèmes')}

  section.background-gray-lightest.padding--small
    .container
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a.nav-link.active(href='#plugins', role='tab', data-toggle='tab') #{__('Plugins')}
        li.nav-item
           a.nav-link(href='#themes', role='tab', data-toggle='tab') #{__('Thèmes')}

      .tab-content
        #plugins.tab-pane.fade.in.active(role='tabpanel')
          each plugin in plugins
            .card
              .card-block
                h4.card-title #{plugin.name}
                h6.card-subtitle.text-muted v#{plugin.version[0]} | #{plugin.downloads} #{__('Téléchargements')}
              img(src=plugin.img, alt='Plugin background')
              .card-block
                // Faudrait truncate la desc, ça serais bcp trop lourd à afficher ici
                p.card-text #{plugin.description}
                a.btn.btn-primary(href='#')
                  i.pe-7s-plus
                  | &nbsp;#{__("Plus d'informations")}
              .card-footer.text-muted  #{__('Dernière mise à jour')} :&nbsp;
                span.moment-date(data-format=__('Le {L} à {LT}')) #{plugin.updatedAt}
        #themes.tab-pane.fade(role='tabpanel')
          each theme in themes
            .card
              .card-block
                h4.card-title #{theme.name}
                h6.card-subtitle.text-muted v#{theme.version[0]} | #{theme.downloads} #{__('Téléchargements')}
              img(src=theme.img, alt='Theme background')
              .card-block
                p.card-text #{theme.description}
                a.btn.btn-primary(href='#')
                  i.pe-7s-plus
                  | &nbsp;#{__("Plus d'informations")}
              .card-footer.text-muted  #{__('Dernière mise à jour')} :&nbsp;
                span.moment-date(data-format=__('Le {L} à {LT}')) #{theme.updatedAt}
