extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
        .row
          .col-md-12
            h3.heading #{plugin.name} &nbsp;
              span.accent(style="text-transform:lowercase") v#{plugin.version.version} &nbsp;
              | #{__('par')} &nbsp;
              span.accent #{plugin.author.username}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12

          h4 #{__('Description')}

          article.lead
            div(style='font-size:60%;font-weight: 300;') !{plugin.description}

          hr

          h4 !{__('Pré-requis <em><small>(versions requises)</small></em>')}

          div.table-responsive
            table.table
              thead
              tbody
                each requirement in plugin.requirements
                  if requirement !== undefined
                    tr
                      td !{requirement.name}
                      td
                        b #{requirement.operator}
                        | &nbsp;#{requirement.version}

          hr

          h4 #{__("Liste des mise à jours :")}

          - var i = 0
          each version in plugin.versions
            - i++

            if version !== undefined

              div.version-listing(class= i === 1 ? "selected" : "", style= i > 2 ? 'display:none;' : '')

                div.row
                  div.col-sm-12.col-md-6
                    h4.version
                      a(href='#') #{version.version}
                      p.version_changelog #{__('Liste des modifications :')}
                    if version.changelog !== undefined && typeof version.changelog === 'object' && version.changelog !== null
                      ul.changelog
                        each changelog in version.changelog['fr_FR']
                          li #{changelog}
                    else
                      p.text-muted
                        i #{__('Aucun changement lors de cette mise à jour')}

                  div.col-md-3
                    span.text-success #{__('Disponible')}
                  div.col-md-3
                    p #{__('Sortie')}&nbsp;
                      b.moment-date(fromNow) #{new Date(version.releaseDate)}

          if i > 3
            div.text-center(style='margin-top:10px;')
              button#loadMoreVersions.btn.btn-primary(data-count="2")
                span.fa.fa-refresh
                | &nbsp;#{__('Charger + de versions')}

          hr

          if plugin.price > 0 && user

            h4 #{__('Choix du moyen de paiement')}

            div.col-md-12
              a.btn-pay.active(data-payment-type="paypal")
                i.pull-left.fa.fa-paypal
                h5 PayPal
                span #{__('Payez avec votre compte PayPal ou votre carte bancaire')}

            div.clearfix

            hr

            h4 #{__('Facture')}

            div.table-responsive

              table.table.table-striped.table-bordered.invoice
                thead
                  tr
                    th #{__('Description')}
                    th #{__("Prix à l'unité")}
                    th #{__('Total')}
                tbody
                  tr
                    td !{__('Plugin')}&nbsp; "<b>#{plugin.name}</b>" #{__('par')} #{plugin.author.username}
                    td #{plugin.price} €
                    td #{plugin.price} €
                  tr
                    td
                    td
                      div.input-group
                        input(class="form-control", name="voucher", placeholder=__('Code de promotion (optionnel)'))
                        span.input-group-btn
                          button.btn.btn-secondary#checkVoucher(data-price=plugin.price) #{__('Utiliser')}
                    td.voucher-reduction - 0.00 €
                  tr#paypalFees
                    td
                    th #{__('Taxes')}
                    td#paypalFeesAmount(data-default-fees=PayPalService.calculateFees(plugin.price)) #{PayPalService.calculateFees(plugin.price)} €
                  tr
                    td
                    th #{__('Total')}
                    th.amount#paypalAmount #{PayPalService.calculateFees(plugin.price) + plugin.price} €

              hr

              div.col-md-4.pull-right
                input(name="custom", type="hidden", value=plugin.id)
                a.btn.btn-primary.btn-block(href='#', id="pay", data-offer="plugin", data-content-if-free=__('Obtenir le plugin'), data-content-if-not-free=__('Passer au paiement')) #{__('Passer au paiement')}
          else if plugin.price == 0
            div.col-md-6.pull-right
              a.btn.btn-success.btn-block.disabled(href='#', disabled) #{__('Ce plugin est gratuit et est déjà disponible sur votre CMS')}
          else
            div.col-md-6.pull-right
              a.btn.btn-primary.btn-block.disabled(href='#', disabled) #{__('Disponible à partir de %s €', plugin.price)}

          div.clear-fix

block custom
  script(type='text/javascript', src='/js/buy.js')
  script(type='text/javascript').
    $('#loadMoreVersions').on('click', function(e) {
      e.preventDefault()

      var btn = $(this)
      var count = parseInt(btn.attr('data-count')) - 1

      // disable and active spinner
      btn.attr('disabled', true).addClass('disabled')
      btn.find('span.fa.fa-refresh').addClass('fa-spin')

      // load 2 more
      $($('div.version-listing')[count+1]).fadeIn(100)
      $($('div.version-listing')[count+2]).fadeIn(100)

      // update count
      btn.attr('data-count', count+2)

      // enable and desactive spinner
      btn.attr('disabled', false).removeClass('disabled')
      btn.find('span.fa.fa-refresh').removeClass('fa-spin')

      // if already all loaded, hide btn
      if (count+2 == $('div.version-listing').length)
        btn.fadeOut(100)

    })
