extends ../../layouts/email
block message
  p #{sails.__('Bonjour')} <strong>#{username}</strong>,
    br
    br
    | !{sails.__('Nous avons le regret de vous annoncer que votre licence hébergée loué sur <strong>mineweb.org</strong> (%s) expire dans %s jours.', locals.host, locals.days)}
    br
    | !{sails.__("Au bout de ces %s jours, votre licence hébergée sera <strong>désactivé pendant 1 semaine</strong>. Il vous restera donc <em>1 semaine pour renouveler l'offre</em> avant que toutes les données ne soient supprimées définitivement de nos serveurs.", locals.days)}
    br
    | !{sails.__("Pour renouveler votre licence hébergée dès maintenant, il vous suffit de cliquer sur le lien ci-dessous.")}
    br
    a(style='text-align:center;color:#428bca;text-decoration:none;', href=locals.url) #{sails.__('Cliquez ici pour renouveler votre offre')}

  p
    small(style='color:grey;') #{sails.__('Si vous ne pouvez pas cliquer sur le bouton ci-dessus, mettez cette URL dans votre navigateur :')} #{url}

  p
    small
    em #{sails.__('Ceci est un message automatique, veuillez ne pas y répondre.')}
