doctype html(lang='fr')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  title #{title} | #{__('Administration MineWeb')}

  block css
    link(rel='stylesheet', href='/styles/admin/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/admin/style.css')
    link(rel='stylesheet', href='/styles/admin/animate.css')

    script(src='/js/admin/jquery.js')

    // Notifications
    link(href="/styles/admin/plugins/toastr/toastr.min.css" rel="stylesheet")

    style.
      .navbar-default li hr {
        border: 1px solid rgba(171, 166, 167, 0.26);
        margin-left:15px;
        margin-right: 15px;
      }
      .nav-header {
        padding: 10px 25px;
        padding-bottom:33px;
      }

  block cssCustom

body
  #wrapper
    block navbar
      include ./navbar
    #page-wrapper.gray-bg
      block top
        include ./top
      block content

      block footer
        .footer
          .pull-right
            | !{__('Développé et maintenu par <strong>Eywek</strong> & <strong>ThisIsMac</strong>.')}
          div
            | !{__('<strong>Tous droits réservés</strong> MineWeb 2014-%s', (new Date).getFullYear())}

    block scripts
      script(src='/js/admin/bootstrap.min.js')
      script(src='/js/admin/plugins/metisMenu/jquery.metisMenu.js')
      script(src='/js/admin/plugins/slimscroll/jquery.slimscroll.min.js')
      script(src='/js/admin/inspinia.js')
      script(src='/js/admin/plugins/pace/pace.min.js')
      script(src='/js/admin/plugins/ladda/spin.min.js')
      script(src='/js/admin/plugins/ladda/ladda.min.js')
      script(src='/js/admin/plugins/ladda/ladda.jquery.min.js')
      script(src='/js/moment-with-locales.js')
      script(src="/js/functions.js")

      script(type='text/javascript').
        moment.locale(navigator.language)

        var locals = {
          'LOADING_MSG': "#{__('Chargement en cours...')}",
          'SUCCESS_MSG': "#{__('Succès')}",
          'ERROR_MSG': "#{__('Erreur')}",
          'FORBIDDEN_ERROR_MSG': "#{__('Vous n\'êtes pas autorisé à procéder à cette action !')}",
          'INTERNAL_ERROR_MSG': "#{__('Une erreur interne est survenue. Veuillez rééssayez.')}"
        }

      script(src='/js/form-ajax.js')

      // Notifications
      if notifications
        script(src="/js/admin/plugins/toastr/toastr.min.js")

        if notifications.error.length > 0
          each notification, index in notifications.error
            script(type='text/javascript').
              toastr.error("#{notification}")
        if notifications.warning.length > 0
          each notification, index in notifications.warning
            script(type='text/javascript').
              toastr.warning("#{notification}")
        if notifications.success.length > 0
          each notification, index in notifications.success
            script(type='text/javascript').
              toastr.success("#{notification}")
        if notifications.info.length > 0
          each notification, index in notifications.info
            script(type='text/javascript').
              toastr.info("#{notification}")

    block custom
