footer.footer
  .footer__copyright
    .container
      .row
        .col-md-7
          p 2014 - #{(new Date).getFullYear()} - #{__('Tous droits réservés. Site développé avec par')}
            a(href='http://eywek.fr')  Eywek
            |  #{__('et')}
            a(href='http://thisismac.fr')  Mac'
            |  #{__('à l\'aide de')}
            a(href='http://nodejs.org')  NodeJS
            |  .
            br
            | #{__('En partenariat avec')}&nbsp;&nbsp;
            img(src='http://mineweb.org/img/revolta-logo.png')
        .col-md-5
        p.credit.pull-right
          | #{__('Template by')}
          a.external(href='http://bootstrapious.com/landing-pages')  Bootstrapious
