footer.footer
  .footer__copyright
    .container
      .row
        .col-md-7
          p 2014 - #{(new Date).getFullYear()} - #{__('Tous droits réservés.')}
            br
            |  #{__('Developpé avec')}&nbsp;
            span.pe-7s-like
            | #{__('par')}
            a(href='http://eywek.fr')  Eywek
            |  #{__('et')}
            a(href='https://github.com/vmarchaud')  ThisIsMac
            |  #{__('en utilisant')}
            a(href='http://sailsjs.org/')  Sails
        .col-md-5
        p.credit.pull-right
          | #{__('En partenariat avec')}&nbsp;&nbsp;
          a(href='http://revolta-hosting.fr')
            img(src='/img/revolta-logo.png')
