
// navbar
header.header
  .navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        a.navbar-brand.scroll-to.hidden-lg-down(href='#all')
          span.site_name MINEWEB
          span.sr-only Go to homepage
          div.clearfix
        div.navbar-buttons
          button(data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn")
           | Menu
           i.pe-7s-menu
      #navigation.collapse.navbar-collapse.navbar-right
        ul.nav.navbar-nav
          li
            a(href='/') #{__('Accueil')}
          li
            a(href='/download') #{__('Téléchargement')}
          li
            a(href='/market') #{__('Market')}
          li
            a(href='/documentation') #{__('Documentation')}
          li
            a(href='/support') #{__('Support')}
          if req.session.authenticated !== undefined && req.session.authenticated
            li.hidden-lg-up
              a(href='/user/profile') #{__('Mon profil')}
              a(href='/user/logout')
                span.hidden-md-down #{__('Se déconnecter')}
                span.hidden-lg-up
                  i.fa.fa-sign-out
            li.hidden-md-down
              div.btn-group
                a.btn.navbar-btn.btn-ghost(href='/user/profile') #{__('Mon profil')}
                a.btn.navbar-btn.btn-outline-secondary(href='/user/logout') #{__('Se déconnecter')}
          else
            li.hidden-lg-up
              a(href='sign') #{__('Connexion')}
            li.hidden-md-down
              div.btn-group
                a.btn.navbar-btn.btn-ghost(href='/sign') #{__('Connexion')}
                a.btn.navbar-btn.btn-ghost(href='/sign') #{__('Inscription')}
          //
