body(data-spy='scroll', data-target='#navigation', data-offset='120')
  #all
    // navbar
    header.header
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            a.navbar-brand.scroll-to(href='#all')
              span.site_name MINEWEB
              span.sr-only Go to homepage
              div.clearfix
            div.navbar-buttons
              button(data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn")
               | Menu
               i.pe-7s-menu
          #navigation.collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              li
                a(href='#') #{__('Accueil')}
              li
                a(href='#') #{__('Téléchargement')}
              li
                a(href='#') #{__('Market')}
              li
                a(href='#') #{__('Documentation')}
              li
                a(href='#') #{__('Support')}
            //a.btn.navbar-btn.btn-ghost(href='#', data-toggle='modal', data-target='#get-started') Get started
