include ./head

body(data-spy='scroll', data-target='#navigation', data-offset='120')
  #all
    #main
      block header
        include ./header

      block content

    block footer
      include ./footer

  block javascript
    // Javascript files
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/tether.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.cookie.js')
    script(src='/js/ekko-lightbox.js')
    script(src='/js/jquery.simple-text-rotator.min.js')
    script(src='/js/jquery.scrollTo.min.js')
    script(src='/js/owl.carousel.min.js')
    script(src='/js/functions.js')
    script(src='/js/front.js')

    script(type='text/javascript').
      var locals = {
        'LOADING_MSG': "#{__('Chargement en cours...')}",
        'SUCCESS_MSG': "#{__('Succès')}",
        'ERROR_MSG': "#{__('Erreur')}",
        'FORBIDDEN_ERROR_MSG': "#{__('Vous n\'êtes pas autorisé à procéder à cette action !')}",
        'INTERNAL_ERROR_MSG': "#{__('Une erreur interne est survenue. Veuillez rééssayez.')}"
      }

    script(src='/js/form-ajax.js')
