include ./head

body(data-spy='scroll', data-target='#navigation', data-offset='120')
  #all
    #main
      block header
        include ./header

      block flash
        include ../Elements/flash

      block content

    block footer
      include ./footer

  block modals
  block javascript
    // Javascript files
    script(src='/js/tether.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.simple-text-rotator.min.js')
    script(src='/js/moment-with-locales.js')
    script(src='/js/functions.js')
    script(src='/js/front.js')

    script(type='text/javascript').
      var locals = {
        'LOADING_MSG': "#{__('Chargement en cours...')}",
        'SUCCESS_MSG': "#{__('Succès')}",
        'ERROR_MSG': "#{__('Erreur')}",
        'FORBIDDEN_ERROR_MSG': "#{__('Vous n\'êtes pas autorisé à procéder à cette action !')}",
        'INTERNAL_ERROR_MSG': "#{__('Une erreur interne est survenue. Veuillez rééssayez.')}"
      }

    script(src='/js/form-ajax.js')

    // Notifications
    if notifications
      script(src="/js/toastr.min.js")

      if notifications.error.length > 0
        each notification, index in notifications.error
          script(type='text/javascript').
            toastr.error("#{notification}")
      if notifications.warning.length > 0
        each notification, index in notifications.warning
          script(type='text/javascript').
            toastr.warning("#{notification}")
      if notifications.success.length > 0
        each notification, index in notifications.success
          script(type='text/javascript').
            toastr.success("#{notification}")
      if notifications.info.length > 0
        each notification, index in notifications.info
          script(type='text/javascript').
            toastr.info("#{notification}")

  block custom

  script(type='text/javascript').
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51799643-1', 'auto');
    ga('send', 'pageview');
