extends ../layouts/default

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-md-12
        h2 #{__("Détails d'un utilisateur")}
        ol.breadcrumb
          li
            a(href="/admin/dashboard") #{__('Dashboard')}
          li.active
            strong #{__('Recherche')}
  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInUp

        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Informations principales')}
            .ibox-content
              form.form-horizontal

                .row
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('Pseudo')}
                      .col-sm-10
                        input.form-control(type='text', value=userFinded.username, disabled)
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__("Email")}
                      .col-sm-10
                        input.form-control(type='text', value=userFinded.email, disabled)
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('Email PayPal (développeur)')}
                      .col-sm-10
                        input.form-control(type='text', value=userFinded.paypalDeveloperEmail, disabled)
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('Email Pusbullet (staff)')}
                      .col-sm-10
                        input.form-control(type='text', value=userFinded.pushbulletEmail, disabled)
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('Rôle')}
                      .col-sm-10
                        input.form-control(type='text', value=userFinded.role, disabled)
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('Nom de rôle customisé (staff)')}
                      .col-sm-10
                        input.form-control(type='text', value=userFinded.customRoleName, disabled)
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('Développeur')}
                      .col-sm-10
                        if userFinded.developer === 'CANDIDATE'
                          span.label.label-warning(style="font-size:13px") #{__('En attente...')}
                        else if userFinded.developer === 'CONFIRMED'
                          span.label.label-primary(style="font-size:13px") #{__('OUI')}
                        else
                          span.label.label-danger(style="font-size:13px") #{__('NON')}
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('IP')}
                      .col-sm-10
                        input.form-control(type='text', value=userFinded.ip, disabled)
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('Langue')}
                      .col-sm-10
                        p.form-control-static
                          span.label.label-info(style="font-size:13px;") #{userFinded.lang}
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('Double authentification')}
                      .col-sm-10
                        p.form-control-static
                          if userFinded.twoFactorAuthKey
                            span.label.label-primary(style="font-size:13px") #{__('OUI')}
                          else
                            span.label.label-danger(style="font-size:13px") #{__('NON')}
        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Paiements PayPal')}
            .ibox-content
              .table-responsive
                table.table.table-hover.no-margins(style="font-size: 13px;")
                  thead
                    tr
                      th #{__("ID de l'achat")}
                      th #{__("ID du paiement")}
                      th #{__('ID de la transaction PayPal')}
                      th #{__("Montant payé par l'utilisateur")}
                      th #{__("Taxes payée par l'utilisateur")}
                      th #{__('Montant reçu')}
                      th #{__("Email PayPal de l'utilisateur")}
                      th #{__("Date du paiement")}
                      th #{__('Statut du paiement')}
                      th #{__('Raison du litige')}
                      th #{__('Date du litige')}
                      th #{__('Date du remboursement')}
                      th #{__('Dernière mise à jour du paiement')}
                  tbody
                    each payment in userFinded.paypalPayments
                      tr
                        td #{payment.purchase}
                        td #{payment.id}
                        td
                          a(href='https://www.paypal.com/fr/cgi-bin/webscr?cmd=_view-a-trans&id='+payment.paymentId, target='_blank') #{payment.paymentId}
                        td.text-info #{payment.paymentAmount} €
                        td.text-danger #{payment.taxAmount} €
                        td.text-success #{payment.paymentAmount - payment.taxAmount} €
                        td #{payment.buyerEmail}
                        td
                          span.fa.fa-calendar
                          | &nbsp;
                          span.moment-date(data-format="Le {L} à {LT}") #{payment.paymentDate}
                        td
                          if payment.state === 'COMPLETED'
                            span.label.label-primary #{__('Complété')}
                          else if payment.state === 'PENDING'
                            span.label.label-warning #{__('En attente')}
                          else if payment.state === 'REVERSED'
                            span.label.label-warning #{__('Suspendu')}
                          else if payment.state === 'REFUNDED'
                            span.label.label-danger #{__('Remboursé')}
                          else if payment.state === 'FAILED'
                            span.label.label-danger #{__('Échoué')}
                        td #{payment.reversedReason}
                        td
                          if payment.caseDate
                            span.fa.fa-calendar
                            | &nbsp;
                            span.moment-date(data-format="Le {L} à {LT}") #{payment.caseDate}
                          else
                            | N/A
                        td
                          if payment.refundDate
                            span.fa.fa-calendar
                            | &nbsp;
                            span.moment-date(data-format="Le {L} à {LT}") #{payment.refundDate}
                          else
                            | N/A
                        td
                          span.fa.fa-calendar
                          | &nbsp;
                          span.moment-date(data-format="Le {L} à {LT}") #{payment.updatedAt}
        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Paiements Dédipass')}
            .ibox-content
              .table-responsive
                table.table.table-hover.no-margins(style="font-size: 13px;")
                  thead
                    tr
                      th #{__("ID de l'achat")}
                      th #{__("ID du paiement")}
                      th #{__('Montant reçu')}
                      th #{__("Code utilisé par l'utilisateur")}
                      th #{__("Palier utilisé par l'utilisateur")}
                      th #{__("Date du paiement")}
                      th #{__('Dernière mise à jour du paiement')}
                  tbody
                    each payment in userFinded.dedipassPayments
                      tr
                        td #{payment.purchase}
                        td #{payment.id}
                        td.text-success #{payment.payout} €
                        td #{payment.code}
                        td #{payment.rate}
                        td
                          span.fa.fa-calendar
                          | &nbsp;
                          span.moment-date(data-format="Le {L} à {LT}") #{payment.createdAt}
                        td
                          span.fa.fa-calendar
                          | &nbsp;
                          span.moment-date(data-format="Le {L} à {LT}") #{payment.updatedAt}
        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Ses licences')}
            .ibox-content
              div.table-responsive
                table.table(style="font-size: 13px;")
                  thead
                    tr
                      th ID
                      th #{__("ID de l'achat")}
                      th #{__('Site')}
                      th #{__("Clé d'activation")}
                      th #{__('Statut')}
                      th #{__("Date d'achat")}
                  tbody
                    each license in userFinded.licenses
                      tr(class=license.suspended !== null ? 'disabled' : '', style=license.suspended !== null ? 'opacity:0.5;' : '')
                        td
                          a(href="/admin/license/view/" + license.id) #{license.id}
                        td #{license.purchase}
                        td.licenseHost(data-license-id=license.id)
                          if license.host != null && license.host.length > 0
                            a(href=license.host, target='_blank')
                              | #{license.host}
                          else
                            em #{__('Licence non installée')}
                        td #{license.key}
                        td.licenseState(data-license-id=license.id)
                          if license.state
                            span.label.label-primary #{__('Activée')}
                          else
                            span.label.label-danger #{__('Désactivée')}
                        td.moment-date(data-format=__('Le {L} à {LT}')) #{license.createdAt}
                        if license.suspended !== null
                          tr(style="position: absolute;margin-top: -112px;")
                            td(style='border-top: none;')
                              h3.text-danger(style="opacity:1;")
                                | #{__('Licence désactivée pour :')} #{license.suspended}
        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Ses hébergements')}
            .ibox-content
              div.table-responsive
                table.table(style="font-size: 13px;")
                  thead
                    tr
                      th ID
                      th #{__("ID de l'achat")}
                      th #{__('Site')}
                      th #{__("Clé d'activation")}
                      th #{__('Statut')}
                      th #{__("Date d'expiration")}
                      th #{__("Date d'achat")}
                  tbody
                    each hosting in userFinded.hostings
                      tr(class=hosting.suspended !== null ? 'disabled' : '', style=hosting.suspended !== null ? 'opacity:0.5;' : '')
                        td
                          a(href="/admin/hosting/view/" + hosting.id) #{hosting.id}
                        td #{hosting.purchase}
                        td.hostingHost(data-host-id=hosting.id)
                          if hosting.hostType === 'SUBDOMAIN'
                             a(href='http://'+hosting.host+'.craftwb.fr', target='_blank')
                               | http://#{hosting.host}.craftwb.fr
                          else
                            a(href='http://'+hosting.host, target='_blank')
                              | http://#{hosting.host}
                        td #{hosting.key}
                        td
                          if hosting.state
                            span.label.label-primary #{__('Activé')}
                          else
                            span.label.label-danger #{__('Désactivé')}
                        td
                          // Si la date de fin est inférieur à dans 1 semaine, l'hébergement va bientôt expiré
                          if (moment(hosting.endDate).unix() < moment().add(7, 'days').hours(0).minutes(0).seconds(0).unix())
                            span.text-danger.moment-date(data-format=__('Le {L} à 12:00')) #{hosting.endDate}
                          else
                            span.moment-date(data-format=__('Le {L} à 12:00')) #{hosting.endDate}
                        td.moment-date(data-format=__('Le {L} à {LT}')) #{hosting.createdAt}
                      if hosting.suspended !== null
                        tr(style="position: absolute;margin-top: -112px;")
                          td(style='border-top: none;')
                            h3.text-danger(style="opacity:1;")
                              | #{__('Hébergement désactivé pour :')} #{hosting.suspended}
        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Achats de plugins')}
            .ibox-content
              .table-responsive
                table.table.table-hover.no-margins(style="font-size: 13px;")
                  thead
                    tr
                      th #{__('Moyen de paiement')}
                      th #{__('Nom du plugin')}
                      th #{__("Date de l'achat")}
                      th #{__('Statut')}
                  tbody
                    each purchase, index in userFinded.purchases.plugin
                      tr
                        td
                          if purchase.paymentType === 'PAYPAL'
                            | PayPal
                          else if purchase.paymentType === 'DEDIPASS'
                            | Dédipass
                          else if purchase.paymentType === 'FREE'
                            | #{__('Gratuit')}
                          else
                            | N/A
                        td
                          a(href='/market/plugin/' + purchase.item.slug) #{purchase.item.name}
                        td.moment-date(data-format=__('Le {L} à {LT}')) #{purchase.createdAt}
                        td
                          if purchase.paymentType !== 'PAYPAL' || (purchase.paymentType === 'PAYPAL' && purchase.payment.state === 'COMPLETED')
                            span.label.label-primary #{__('Actif')}
                          else
                            span.label.label-danger #{__('Désactivé')}
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Achats de thèmes')}
            .ibox-content
              .table-responsive
                table.table.table-hover.no-margins(style="font-size: 13px;")
                  thead
                    tr
                      th #{__('Moyen de paiement')}
                      th #{__('Nom du thème')}
                      th #{__("Date de l'achat")}
                      th #{__('Statut')}
                  tbody
                    each purchase, index in userFinded.purchases.theme
                      tr
                        td
                          if purchase.paymentType === 'PAYPAL'
                            | PayPal
                          else if purchase.paymentType === 'DEDIPASS'
                            | Dédipass
                          else if purchase.paymentType === 'FREE'
                            | #{__('Gratuit')}
                          else
                            | N/A
                        td
                          a(href='/market/theme/' + purchase.item.slug) #{purchase.item.name}
                        td.moment-date(data-format=__('Le {L} à {LT}')) #{purchase.createdAt}
                        td
                          if purchase.paymentType !== 'PAYPAL' || (purchase.paymentType === 'PAYPAL' && purchase.payment.state === 'COMPLETED')
                            span.label.label-primary #{__('Actif')}
                          else
                            span.label.label-danger #{__('Désactivé')}
        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Connexion')}
            .ibox-content
              .table-responsive
                table.table.table-hover.no-margins.dataTable(style="font-size: 13px;")
                  thead
                    tr
                      th #{__('Date de la connexion')}
                      th #{__('Adresse IP de connexion')}
                  tbody
                    each connection in connectionLogs
                      tr
                        td.moment-date(data-format='Le {L} à {LT}') #{connection.createdAt}
                        td #{connection.ip}
        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Ses tickets supports')}
            .ibox-content
              .project-list
                .table-responsive
                  table.table.table-hover
                    tbody
                      each ticket in userTickets
                        tr
                          td.project-status
                            if ticket.state === 'WAITING_STAFF_RESPONSE'
                              span.label.label-warning #{__('En attente de la réponse du staff')}
                            else if ticket.state === 'WAITING_USER_RESPONSE'
                              span.label.label-info #{__("En attente de la réponse de l'utilisateur")}
                            else
                              span.label.label-danger #{__('Fermé')}
                          td.project-title
                            a(href='/admin/support/' + ticket.id) #{ticket.title}
                            br
                            small.moment-date(fromNow) #{ticket.createdAt}
                          td.project-actions
                            a.btn.btn-outline.btn-info.btn-sm(href="/admin/support/" + ticket.id)
                              i.fa.fa-eye
                              | &nbsp;Voir

  div.clearfix
  br
  br

block cssCustom
  style.
    .popover {
      max-width: 300px;
    }
    .dataTables_filter {
      margin-bottom: 30px;
      float: right;
    }
    #DataTables_Table_0_info {
      margin-top: 20px;
    }
  link(href="/styles/admin/plugins/dataTables/datatables.min.css" rel="stylesheet")

block custom
  script(type='text/javascript', src='/js/admin/plugins/dataTables/datatables.min.js')
  script(type='text/javascript').
    $(document).ready(function(){
      $('.dataTable').DataTable({
        pageLength: 25,
        lengthChange: false,
        language: {
          "sProcessing":     "Traitement en cours...",
          "sSearch":         "Rechercher&nbsp;:&nbsp;",
          "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
          "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
          "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "sInfoPostFix":    "",
          "sLoadingRecords": "Chargement en cours...",
          "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
          "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
          "oPaginate": {
            "sFirst":      "Premier",
            "sPrevious":   "Pr&eacute;c&eacute;dent",
            "sNext":       "Suivant",
            "sLast":       "Dernier"
          },
          "oAria": {
            "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
          }
        }
      })
    })
