include ./layouts/head
include ./layouts/header

section#intro.text-intro.no-padding-bottom
  .container
      .row
        .col-md-12
          h1
            | #{__('MineWeb c\'est un CMS ')}
            span.rotate  #{__('à votre écoute')}, #{__('pensé pour vous')}, #{__('qui vous accompagne')}
          h3.weight-300 #{__('C\'est complet, simple et rapide')}
      .row
        .col-md-12
          p
            | #{__('Des centaines de serveurs nous font confiance, pourquoi pas vous ?')}
            | .
            br
            | #{__('Essayez par vous-même')}
          p
            a#submit_intro.btn.btn-primary(href='http://demo.craftwb.fr') #{__('Accéder au site de démonstration')}
        .col-md-12.col-lg-8.col-lg-offset-2
          p.margin-bottom--zero
            img.img-responsive(alt='', src='img/features3.png')

section#customers.section.background-gray-lightest.padding--small
  .container
    .row
      .col-sm-4.col-md-3.col-xs-6
        .customer
          a(href='https://obsifight.net')
            img.img-responsive(src='img/customers/obsifight.png', title='ObsiFight', data-placement='bottom', data-toggle='tooltip', alt='')
      .col-sm-4.col-md-3.col-xs-6
        .customer
          a(href='http://hardfight.fr')
            img.img-responsive(src='img/customers/hardfight.png', title='HardFight', data-placement='bottom', data-toggle='tooltip', alt='')
      .col-sm-4.col-md-3.col-xs-6
        .customer
          a(href='http://hunterfight.fr')
            img.img-responsive(src='img/customers/hunterfight.png', title='HunterFight', data-placement='bottom', data-toggle='tooltip', alt='')
      .col-sm-4.col-md-3.col-xs-6
        .customer
          a(href='http://octonia.fr')
            img.img-responsive(src='img/customers/octonia.png', title='Octonia', data-placement='bottom', data-toggle='tooltip', alt='')
      //.col-sm-4.col-md-2.col-xs-6
        .customer
          img.img-responsive(src='img/customers/mdfc.png', title='MediaFabríca', data-placement='bottom', data-toggle='tooltip', alt='')
      //.col-sm-4.col-md-2.col-xs-6
        .customer
          img.img-responsive(src='img/customers/vanek.png', title='VANĚK Strojírenská výroba', data-placement='bottom', data-toggle='tooltip', alt='')

// *** TEXT ***
section#text.text-page.section-inverse.background-secondary
  .container
    .row
      .col-md-12
        h2.text-center #{__('C\'est quoi MineWeb ?')}
        p.lead.text-center #{__('Le CMS a débuté son développement début 2014, il est passé en phase de bêta vers juin 2015. Et la bêta est sortie à partir du 15 août 2015.')}
        .row
          .col-sm-6
            p #{__('MineWeb est un CMS (c\'est à dire un système de gestion de contenu), en plus simple, un site complètement personnalisable et intuitif, qui s\'adaptera parfaitement à vos serveurs Minecraft !')}
            p #{__('Vous pourrez tenir vos joueurs au courant des actualités, leur faire acheter des articles sur la boutique... Vous pourrez personnaliser le CMS avec toutes sortes de thèmes ou plugins ! Ceux-ci sont disponibles sur le market ou peuvent être développé par vous-même.')}
          .col-sm-6
            p #{__('MineWeb est un CMS payant qui dispose de 2 offres différentes qui saura convenir à vos besoins.')}
              br
              | #{__('Toutes les informations sont disponibles')}
              a(href='#')  #{__('ici')}
              |  .
            p #{__('Vous avez un problème ? Vous souhaitez modifier quelque chose ? Ou bien vous souhaitez développer votre propre plugin/thème ? Rendez-vous sur la documentation disponible')}
             a(href='#')  #{__('ici')}
             |  #{__('ou contactez notre support dans l\'espace support !')}
// *** TEXT END ***

section#features.section
  .container
    .row.text-center-mobile
      .col-md-6
        .icon
          i.pe-7s-refresh
        h2 #{__('Mises à jours régulières')}
        p #{__('En effet, nous faisons de notre mieux pour sortir des mises à jours régulières et complètes, ajoutant un maximum de fonctionnalités et réglant les éventuels bugs rencontrés lors de l\'utilisation du CMS.')}
        p #{__('Nous sommes à l\'écoute de toutes vos propositions sur notre support pour améliorer la qualité et le contenu du CMS.')}

      .col-md-6
        p
          img.img-responsive(alt='', src='img/features1.png')

section.section.background-gray-lightest
  .container
    .row.text-center-mobile
      .col-md-6
        p
          img.img-responsive(alt='', src='img/features2.png', style='width: 100%')
      .col-md-6
        .icon.brand-terciary
          i.pe-7s-plugin
        h2 #{__('Système de plugins')}
        p #{__('Nous avons mis en place un système de plugins/extensions permettant de rajouter des fonctionnalités facilement à votre CMS.')}
         br
         | #{__('Les plugins peuvent être développés par la communauté, par un développeur indépendant ou par nous même. Cela permet à quiconque d\'ajouter facilement des fonctionnalités à son site facilement grâce à la documentaion mise en place.')}

        p #{__('Nous avons aussi mis en place un système de thème permettant de changer l\'apparence de votre site facilement et rapidement. Thèmes qui eux aussi peuvent être développé par n\'importe qui.')}

section.section.no-padding-bottom
  .container
    .row
      .col-md-12.col-lg-8.col-lg-offset-2.text-center
        .icon.brand-secondary
          i.pe-7s-plus
        h2 #{__('Original et complet')}
        p #{__('Nous disposons de nombreuses fonctionnalités non disponible chez la concurrence, comme par exemple un système de multi-serveur poussé grâce à notre plugin de liaison site-serveur personnalisé.')}
        p #{__('Tous les messages du site sont customisables depuis le panel administrateur, un système de permission complet avec des grades personnalisés est disponible, des API sont fournies pour lier votre site et votre launcher (skins, capes, utilisateurs, news)...')}
        p.margin-bottom--zero
          img.img-responsive(alt='', src='img/features3.png')
// *** FEATURES END ***

// *** TEXT ***
section#text.text-page.section-inverse.background-secondary
  .container
    .row
      .col-md-12
        h2.text-center Text page
        p.lead.text-center Age lived smile six defer bed their few. Had admitting concluded too behaviour him she.
        .row
          .col-sm-6
            p Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh.
            p Betrayed cheerful declared end and. Questions we additions is extremely incommode. Next half add call them eat face. Age lived smile six defer bed their few. Had admitting concluded too behaviour him she. Of death to or to being other.
          .col-sm-6
            p Effects present letters inquiry no an removed or friends. Desire behind latter me though in. Supposing shameless am he engrossed up additions. My possible peculiar together to. Desire so better am cannot he up before points. Remember mistaken opinions it pleasure of debating. Court front maids forty if aware their at. Chicken use are pressed removed.
            p Saw yet kindness too replying whatever marianne. Old sentiments resolution admiration unaffected its mrs literature. Behaviour new set existence dashwoods. It satisfied to mr commanded consisted disposing engrossed. Tall snug do of till on easy. Form not calm new fail.
// *** TEXT END ***

// *** INTEGRATIONS ***
section#integrations.section-gray
  .container.clearfix
    .row.services
      .col-md-12
        h4.services-heading Integrations
        .row
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-alarm
              h4.heading Webdesign
              p Fifth abundantly made Give sixth hath. Cattle creature i be don&apos;t them.
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-cloud
              h4.heading Print
              p Advantage old had otherwise sincerity dependent additions. It in adapted natural.
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-coffee
              h4.heading SEO and SEM
              p Am terminated it excellence invitation projection as. She graceful shy.
        h4.services-heading TOOLS
        .row
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-monitor
              h4.heading Consulting
              p Fifth abundantly made Give sixth hath. Cattle creature i be don&apos;t them.
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-signal
              h4.heading Email Marketing
              p Advantage old had otherwise sincerity dependent additions. It in adapted natural.
          .col-sm-4
            .box.box-services
              .icon
                i.pe-7s-id
              h4.heading UX &amp; UI
              p Am terminated it excellence invitation projection as. She graceful shy.
// *** INTEGRATIONS END ***



include ./layouts/footer
