extends ./layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
        .row
          .col-md-12
            h1
              | #{__('MineWeb c\'est un CMS ')}
              span.rotate  #{__('à votre écoute')}, #{__('pensé pour vous')}, #{__('qui vous accompagne')}
            h3.weight-300 #{__('C\'est complet, simple et rapide')}

  section.background-gray-lightest.padding--small
    .container
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a.nav-link(href='#plugins', role='tab', data-toggle='tab') Plugins
        li.nav-item
           a.nav-link(href='#themes', role='tab', data-toggle='tab') Themes

      .tab-content
        #plugins.tab-pane.fade(role='tabpanel')
          each plugin in plugins
            .card
              .card-block
                h4.card-title #{plugin.name}
                h6.card-subtitle.text-muted #{plugin.version[0]} | #{plugin.downloads} downloads  
              img(src=plugin.img, alt='Plugin background')
              .card-block
                p.card-text #{plugin.description}
                a.btn.btn-primary(href='#') More info
              .card-footer.text-muted  Last update : #{plugin.updatedAt}
        #themes.tab-pane.fade(role='tabpanel')
          each theme in themes
            .card
              .card-block
                h4.card-title #{theme.name}
                h6.card-subtitle.text-muted v#{theme.version[0]} | #{theme.downloads} downloads  
              img(src=theme.img, alt='Theme background')
              .card-block
                p.card-text #{theme.description}
                a.btn.btn-primary(href='#') More info
              .card-footer.text-muted  Last update : #{theme.updatedAt}

      