extends ../layouts/default

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-md-12
        h2 #{__("Listes des paiements")}
        ol.breadcrumb
          li
            a(href="/admin/dashboard") #{__('Dashboard')}
          li.active
            strong #{__('Paiments')}
  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInUp

        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Paiements PayPal')}
                if lastPayPalPayment[0] !== undefined
                  small &nbsp;#{__('Dernier paiement %s', moment(lastPayPalPayment[0].createdAt).fromNow())}
            .ibox-content
              .table-responsive
                table.table.table-hover.no-margins#paypalTable(style="font-size: 13px;")
                  thead
                    tr
                      th #{__("ID de l'achat")}
                      th #{__("Type de l'achat")}
                      th #{__("Détails de l'achat")}
                      th #{__('Utilisateur')}
                      th #{__("ID du paiement")}
                      th #{__('ID de la transaction PayPal')}
                      th #{__("Montant payé par l'utilisateur")}
                      th #{__("Taxes payée par l'utilisateur")}
                      th #{__('Montant reçu')}
                      th #{__("Email PayPal de l'utilisateur")}
                      th #{__("Date du paiement")}
                      th #{__('Statut du paiement')}
                      th #{__('Raison du litige')}
                      th #{__('Date du litige')}
                      th #{__('Date du remboursement')}
                      th #{__('Dernière mise à jour du paiement')}
                  tbody

        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Paiements Dédipass')}
                if lastDedipassPayment[0] !== undefined
                  small &nbsp;#{__('Dernier paiement %s', moment(lastDedipassPayment[0].createdAt).fromNow())}
            .ibox-content
              .table-responsive
                table.table.table-hover.no-margins#dedipassTable(style="font-size: 13px;")
                  thead
                    tr
                      th #{__("ID de l'achat")}
                      th #{__("Type de l'achat")}
                      th #{__("Détails de l'achat")}
                      th #{__('Utilisateur')}
                      th #{__("ID du paiement")}
                      th #{__('Montant reçu')}
                      th #{__("Code utilisé par l'utilisateur")}
                      th #{__("Palier utilisé par l'utilisateur")}
                      th #{__("Date du paiement")}
                      th #{__('Dernière mise à jour du paiement')}
                  tbody


block cssCustom
  link(href="/styles/admin/plugins/dataTables/datatables.min.css" rel="stylesheet")
  style.
    .dataTables_filter {
      margin-bottom: 30px;
      float: right;
    }
    #DataTables_Table_0_info {
      margin-top: 20px;
    }
block custom
  script(type='text/javascript', src='/js/admin/plugins/dataTables/datatables.min.js')
  script(type='text/javascript').
    $(document).ready(function(){
      $('#paypalTable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": false,
        "info": false,
        "autoWidth": false,
        'searching': true,
        "processing": true,
        "serverSide": true,
        "ajax": "/admin/payments/get/paypal",
        "columns": [
            {mData:"purchase.id","bSearchable": false},
            {mData:"purchase.type","bSearchable": false},
            {mData:"purchase.itemId","bSearchable": false},
            {mData:"user.username","bSearchable": false},
            {mData:"id","bSearchable": true},
            {mData:"paymentId","bSearchable": true},
            {mData:"paymentAmount","bSearchable": true},
            {mData:"taxAmount","bSearchable": true},
            {mData:"profit","bSearchable": false},
            {mData:"buyerEmail","bSearchable": true},
            {mData:"paymentDate","bSearchable": true},
            {mData:"state","bSearchable": true},
            {mData:"reversedReason","bSearchable": true},
            {mData:"caseDate","bSearchable": true},
            {mData:"refundDate","bSearchable": true},
            {mData:"updatedAt","bSearchable": true}
        ],
        language: {
          "sProcessing":     "Traitement en cours...",
          "sSearch":         "Rechercher&nbsp;:&nbsp;",
          "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
          "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
          "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "sInfoPostFix":    "",
          "sLoadingRecords": "Chargement en cours...",
          "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
          "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
          "oPaginate": {
            "sFirst":      "Premier",
            "sPrevious":   "Pr&eacute;c&eacute;dent",
            "sNext":       "Suivant",
            "sLast":       "Dernier"
          },
          "oAria": {
            "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
          }
        }
      })
      $('#dedipassTable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": false,
        "info": false,
        "autoWidth": false,
        'searching': true,
        "processing": true,
        "serverSide": true,
        "ajax": "/admin/payments/get/dedipass",
        "columns": [
            {mData:"purchase.id","bSearchable": false},
            {mData:"purchase.type","bSearchable": false},
            {mData:"purchase.itemId","bSearchable": false},
            {mData:"user.username","bSearchable": false},
            {mData:"id","bSearchable": true},
            {mData:"payout","bSearchable": true},
            {mData:"code","bSearchable": true},
            {mData:"rate","bSearchable": true},
            {mData:"createdAt","bSearchable": true},
            {mData:"updatedAt","bSearchable": true}
        ],
        language: {
          "sProcessing":     "Traitement en cours...",
          "sSearch":         "Rechercher&nbsp;:&nbsp;",
          "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
          "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
          "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "sInfoPostFix":    "",
          "sLoadingRecords": "Chargement en cours...",
          "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
          "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
          "oPaginate": {
            "sFirst":      "Premier",
            "sPrevious":   "Pr&eacute;c&eacute;dent",
            "sNext":       "Suivant",
            "sLast":       "Dernier"
          },
          "oAria": {
            "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
          }
        }
      })
    })
