extends ../layouts/layout

block content

  section.section-gray.mini-section
    .container.clearfix
      // ===================
      // ====== STATS ======
      // ===================

      div.row

        div.col-md-3
          .card.card-inverse.card-outline-primary.text-xs-center
            .card-block
              h2.card-title
                span.fa.fa-download
                | &nbsp;#{totalDownloads}
              p.card-text #{__('Téléchargements')}
        div.col-md-3
          .card.card-inverse.card-outline-success.text-xs-center
            .card-block
              h2.card-title
                span.fa.fa-code
                | &nbsp;#{plugins.length}
                sup
                  small &nbsp;#{__('plugins')}
              p.card-text #{__('développés et utilisés')}
        div.col-md-3
          .card.card-inverse.card-outline-info.text-xs-center
            .card-block
              h2.card-title
                span.fa.fa-code
                | &nbsp;#{themes.length}
                sup
                  small &nbsp;#{__('thèmes')}
              p.card-text #{__('développés et utilisés')}
        div.col-md-3
          .card.card-inverse.card-outline-warning.text-xs-center
            .card-block
              h2.card-title
                span.fa.fa-credit-card
                | &nbsp;#{purchasesTotalGain} €
              p.card-text #{__('De ventes')}

      // ===================
      // ===== PLUGINS =====
      // ===================

      div.row(style="margin-top:50px;")

        h3.text-center #{__('Vos')}&nbsp;
          span.accent #{__('plugins')}

        each plugin in plugins
          div.col-md-4
            .card.text-xs-center
              .card-header
                h4.card-title #{plugin.name} v#{plugin.version}
              .card-block
                p.card-text !{Utils.truncate(plugin.description, 100, true)}
                div.btn-group
                  a.btn.btn-ghost(href='/developer/edit/plugin/' + plugin.id) #{__('Modifier')}
                  a.btn.btn-outline-secondary(href='/developer/update/plugin/' + plugin.id, disabled=!plugin.versions[0].public, class=!plugin.versions[0].public ? 'disabled' : '') #{__('Ajouter une version')}
              .card-footer.text-muted #{__('Publié')}&nbsp;
                span.moment-date(fromNow) #{plugin.createdAt}
                if plugin.price > 0
                  | &nbsp;- #{plugin.price} €
        div.col-md-4
          .card.text-xs-center
            .card-header
              h4.card-title &nbsp;
            .card-block
              a.btn.btn-success(href='/developer/add/plugin')
                span.fa.fa-plus
                | &nbsp;#{__('Ajouter un plugin')}
            .card-footer &nbsp;

      hr

      // ===================
      // ===== THEMES ======
      // ===================

      div.row(style="margin-top:50px;")

        h3.text-center #{__('Vos')}&nbsp;
          span.accent #{__('thèmes')}

        each theme in themes
          div.col-md-4
            .card.text-xs-center
              .card-header
                h4.card-title #{theme.name} v#{theme.version}
              .card-block
                p.card-text !{Utils.truncate(theme.description, 100, true)}
                div.btn-group
                  a.btn.btn-ghost(href='/developer/edit/theme/' + theme.id) #{__('Modifier')}
                  a.btn.btn-outline-secondary(href='/developer/update/theme/' + theme.id, disabled=!theme.versions[0].public, class=!theme.versions[0].public ? 'disabled' : '') #{__('Ajouter une version')}
              .card-footer.text-muted #{__('Publié')}&nbsp;
                span.moment-date(fromNow) #{theme.createdAt}
                if theme.price > 0
                  |  &nbsp;- #{theme.price} €
        div.col-md-4
          .card.text-xs-center
            .card-header
              h4.card-title &nbsp;
            .card-block
              a.btn.btn-success(href='/developer/add/theme')
                span.fa.fa-plus
                | &nbsp;#{__('Ajouter un thème')}
            .card-footer &nbsp;

      hr

      // ===================
      // ====== INFOS ======
      // ===================

      div.row(style="margin-top:50px;")

        h3.text-center #{__('Vos informations')}&nbsp;
          span.accent #{__('développeur')}

        div.col-md-12

          form(method="post", action="/developer/edit/paypal", data-ajax="true")
            .form-group
              label #{__('Adresse email PayPal')}
              div.input-group
                input.form-control(type='email', name="paypalDeveloperEmail", value=user.paypalDeveloperEmail)
                span.input-group-btn
                  button.btn.btn-outline-secondary(type="submit") #{__('Modifier')}
              small.form-text.text-muted #{__('Si vous avez des plugins/thèmes payants, les paiements PayPal seront envoyés sur cette adresse email.')}





block customCss
  style.
    /*
      DARK MODE
    */

    body {
      background-color: #414141;
    }
    .navbar {
      box-shadow: 0 1px 5px #1a1a1a;
    }
    .navbar-default {
      background-color: #181818;
    }

    .btn-outline-secondary {
      color: #717171;
      border-color: #717171;
    }
    .btn-outline-secondary:hover {
      color: #b5b5b5;
      background-color: #2b2b2b;
      border-color: #717171;
    }

    table {
      color: #fff;
    }
    .table td, .table th {
      border-top: 1px solid #656667;
    }
    .table thead th {
      border-bottom: 2px solid #808182;
    }

    section h3 {
      color: rgb(231, 231, 231);
      margin-bottom:40px;
    }

    .card-header, .card-footer {
      background-color: #171717;
      color: #818a91;
    }

    .card-header h4 {
      color: rgb(85, 85, 85);
    }

    .card {
      background-color: #242424;
      color: rgb(255, 255, 255);
    }

    hr {
      border-top: 1px solid #737373;
    }

    label {
      color:#bdbdbd;
    }

    input.form-control {
      opacity: 0.2;
    }

    .alert {
      border: 1px solid #6f6f6f;
    }

    .alert.alert-info {
      background-color: #94a2a9;
    }
    .alert.alert-danger {
      background-color: #baabab;
    }
    .alert.alert-success {
      background-color: #b1beab;
    }
