extends ../layouts/layout

block content
  section.section-gray.mini-section
    .container.clearfix
      div.row
        div.col-md-12

          form(method="post", action=add ? "/developer/add/plugin" : "/developer/edit/plugin/" + plugin.id, data-ajax, data-redirect-url="/developer")

            div.row
              div.col-md-6
                .form-group
                  label #{__('Nom du plugin')}
                  input.form-control(type='text', name="name", value=plugin.name, maxlength="20")
                  small.form-text.text-muted #{__('Ce nom sera affiché sur le market et sur le panel admin des CMS.')}
              div.col-md-6
                .form-group
                  label #{__('Slug du plugin')}
                  input.form-control.disabled(value=plugin.slug, disabled)
                  small.form-text.text-muted #{__('Ce slug est utilisé pour identifié votre plugin.')}

            div.row
              div.col-md-6
                .form-group
                  label #{__('Prix du plugin')}
                  div.input-group
                    input.form-control(type='number', name="price", value=plugin.price)
                    span.input-group-addon €
                  small.form-text.text-muted #{__("Si votre plugin est payant, les utilisateurs pourront payer par PayPal et l'argent sera directement versé sur votre compte PayPal.")}
              div.col-md-6
                .form-group
                  label #{__('Version du plugin')}
                  input.form-control.disabled(value=plugin.version, disabled)
                  small.form-text.text-muted #{__('Pour modifier cette valeur, vous devez ajouter une version depuis le dashboard développeur.')}
            div.row
              div.col-md-12
                .form-group
                  label #{__("URL de l'image d'illustration du plugin")}
                  input.form-control(type='text', name="img", value=plugin.img, placeholder="http://domain.tld/image.png")
                  small.form-text.text-muted #{__("Une image d'illustration est obligatoire, elle sera affiché sur le market.")}

            div.row
              div.col-md-12
                .form-group
                  label #{__("Description du plugin")}
                  textarea.form-control(name="description", rows="10") #{plugin.description}
                  small.form-text.text-muted #{__("Soyez le plus précis possible pour donner envie aux utilisateurs de télécharger votre plugin.")}

            unless add
              hr
              h4.text-center !{__('Historique des <span class="accent">versions</span>')}

              div.text-center
                button.btn.btn-outline-primary(type="button", data-toggle="collapse", data-target="#changelog") #{__('Afficher le changelog et le modifier')}

              div.collapse#changelog(style="margin-top:30px;")
                div.row
                  - var i = 0
                  each version in plugin.versions
                    if version.public
                      div.col-md-6
                        input(type='hidden', value=version.version, name="versions["+i+"].version")
                        .card.text-xs-center
                          .card-header
                            h4.card-title v#{version.version}
                          .card-block
                            div.card-text

                              - var i2 = 0
                              each changelog in version.changelog['fr_FR']
                                div.input-group(data-i=i, data-i2=i2)
                                  span.input-group-addon &nbsp;-&nbsp;
                                  input.form-control(type='text', name="versions["+i+"].changelog[]", value=changelog)
                                  span.input-group-btn
                                    button.btn.btn-danger.removeChangelog(type="button", data-i=i, data-i2=i2)
                                      span.fa.fa-times
                                - i2++
                              button.btn.btn-success.btn-block.addChangelog(type="button", data-i=i, data-i2=i2) #{__('Ajouter un changement')}

                          .card-footer.text-muted #{__('Publié')}&nbsp;
                            span.moment-date(fromNow) #{new Date(version.releaseDate)}
                      - i++

            hr
            h4.text-center !{__('Gestion des <span class="accent">pré-requis</span>')}

            div.text-center
              button.btn.btn-outline-primary(type="button", data-toggle="collapse", data-target="#requirements") #{__('Gérer les pré-requis')}

            div.collapse#requirements(style="margin-top:30px;")

              small.form-text.text-muted !{__("Les pré-requis empêchent l'installation de votre plugin si ceux-ci ne sont pas installés. <br> Par exemple, un plugin avec comme pré-requis la version du CMS >= 1.1.0 ne pourra pas être installé si la version du CMS est inférieure à la 1.1.0.")}
              br

              table.table
                thead
                  tr
                    th #{__('Type')}
                    th #{__('Opérateur')}
                    th #{__('Version')}
                    th #{__('Action')}
                tbody
                  - var i = 0
                  each requirement in plugin.requirements
                    tr(data-requirements-id=i, data-requirements-already-saved)
                      td
                        select.form-control.requirementType(name='requirements['+i+'][type]', data-requirements-id=i)
                          optgroup(label=__('Général'))
                            option(selected=requirement.type == 'CMS', value='CMS', data-requirements-id=i, data-version-availables=JSON.stringify(cmsVersionsAvailables)) #{__('CMS')}
                          optgroup(label=__('Plugins'))
                            each pluginOption in pluginsList
                              if pluginOption.dbId !== plugin.id
                                option(selected=requirement.type == 'plugin--' + pluginOption.id, value='plugin--' + pluginOption.id, data-requirements-id=i, data-version-availables=JSON.stringify(pluginOption.versionsAvailable)) #{pluginOption.name}
                          optgroup(label=__('Thèmes'))
                            each theme in themesList
                              option(selected=requirement.type == 'theme--' + theme.id, value='theme--' + theme.id, data-requirements-id=i, data-version-availables=JSON.stringify(theme.versionsAvailable)) #{theme.name}
                      td
                        select.form-control(name='requirements['+i+'][operator]')
                          option(value='>=', selected=requirement.operator == '>=') #{__('>=')}
                          option(value='=', selected=requirement.operator == '=') #{__('=')}
                          option(value='<=', selected=requirement.operator == '<=') #{__('<=')}
                          option(value='>', selected=requirement.operator == '>') #{__('>')}
                          option(value='<', selected=requirement.operator == '<') #{__('<')}
                      td.requirementVersion(data-requirements-id=i) #{requirement.version}
                      td
                        button.btn.btn-danger.deleteRequirement(data-requirements-id=i, type="button")
                          span.fa.fa-times
                    - i++
                  tr(data-requirements-id=i, data-requirement-empty)
                    td
                      select.form-control.requirementType(name='requirements['+i+'][type]', data-requirements-id=i)
                        option(disabled, selected, value) -- #{__('Sélectionnez une option')} --
                        optgroup(label=__('Général'))
                          option(value='CMS', data-requirements-id=i, data-version-availables=JSON.stringify(cmsVersionsAvailables)) #{__('CMS')}
                        optgroup(label=__('Plugins'))
                          each pluginOption in pluginsList
                            if pluginOption.dbId !== plugin.id
                              option(value='plugin--' + pluginOption.id, data-requirements-id=i, data-version-availables=JSON.stringify(pluginOption.versionsAvailable)) #{pluginOption.name}
                        optgroup(label=__('Thèmes'))
                          each theme in themesList
                            option(value='theme--' + theme.id, data-requirements-id=i, data-version-availables=JSON.stringify(theme.versionsAvailable)) #{theme.name}
                    td
                      select.form-control(name='requirements['+i+'][operator]')
                        option(value='>=') #{__('>=')}
                        option(value='=') #{__('=')}
                        option(value='<=') #{__('<=')}
                        option(value='>') #{__('>')}
                        option(value='<') #{__('<')}
                    td.requirementVersion(data-requirements-id=i)
                      small.text-muted
                        em #{__('Choississez un pré-requis')}
                    td
                      button.btn.btn-danger.deleteRequirement(data-requirements-id=i, type="button")
                        span.fa.fa-times
                  tr
                    td
                    td
                    td
                    td
                      button.btn.btn-success.addRequirement(data-requirements-id=i+1, type="button")
                        span.fa.fa-plus

            if add

              hr

              div.row
                div.col-md-12
                  .form-group
                    label #{__('Fichiers du plugin')}
                    input.filestyle(type="file", name="files", data-icon="true", accept=".zip", data-buttonText=__("Choisir les fichiers"), data-iconName="fa fa-download", data-buttonName="btn-outline-success", data-placeholder=__('Choississez un fichier...'))
                    small.form-text.text-muted #{__('Vous devez envoyer une archive zip contenant le dossier du plugin.')}


            hr

            button.btn.btn-success.btn-lg.pull-right(type="submit")
              if add
                span.fa.fa-upload
                | &nbsp;#{__('Soumettre le plugin')}
              else
                span.fa.fa-pencil-square-o
                | &nbsp;#{__('Soumettre les modifications du plugin')}

            unless add

              div.clearfix

              hr

              div.text-center
                a.btn.btn-outline-danger.btn-lg(href="/developer/delete/plugin/" + plugin.id)
                  span.fa.fa-ban
                  | &nbsp;#{__('Supprimer définitivement le plugin')}

block custom
  script(type='text/javascript', src='/js/bootstrap-filestyle.min.js')
  script(type='text/javascript').
    $('.addChangelog').on('click', function (e) {

      e.preventDefault()

      var btn = $(this)
      var i = btn.attr('data-i')
      var i2 = btn.attr('data-i2')

      $('<div class="input-group" data-i="'+i+'" data-i2="'+i2+'"><span class="input-group-addon">&nbsp;-&nbsp;</span><input class="form-control" type="text" name="versions['+i+'].changelog[]"><span class="input-group-btn"><button class="btn btn-danger removeChangelog" data-i="'+i+'" data-i2="'+i2+'"><span class="fa fa-times"></span></button></span></div>').insertBefore(btn)
      initChangelogRemoveEntry()

    })

    function initChangelogRemoveEntry () {

      $('.removeChangelog').unbind('click')
      $('.removeChangelog').on('click', function (e) {

        e.preventDefault()

        var btn = $(this)
        var i = btn.attr('data-i')
        var i2 = btn.attr('data-i2')

        $('div.input-group[data-i="'+i+'"][data-i2="'+i2+'"]').slideUp(150, function () {
          $(this).remove()
        })

      })

    }
    initChangelogRemoveEntry()

    // Setup requirements already save

    $('tr[data-requirements-already-saved]').each(function (e) {

      var tr = $(this)
      var optionSelected = tr.find('.requirementType').find(':selected')
      var requirementId = optionSelected.attr('data-requirements-id')
      var requirementVersionTd = $('.requirementVersion[data-requirements-id="'+requirementId+'"]')
      var currentVersion = tr.find('.requirementVersion').html()

      // Get versions array
      var versionsAvailable = optionSelected.attr('data-version-availables')
      try {
        versionsAvailable = JSON.parse(versionsAvailable)
      } catch (e) {
        console.log(e)
        return false
      }

      // Setup select/option
      var versionSelect = '<select class="form-control" name="requirements[' + requirementId + '][version]">'
      for (var i = 0; i < versionsAvailable.length; i++) {
        versionSelect += '<option value="' + versionsAvailable[i] + '"';
        if (currentVersion == versionsAvailable[i])
          versionSelect += ' selected'
        versionSelect += '>' + versionsAvailable[i] + '</option>'
      }
      versionSelect += '</select>'

      // Set HTML
      requirementVersionTd.html(versionSelect)

    })

    // ---

    function initRequirements() {

      $('.requirementType').unbind('change')
      $('.requirementType').on('change', function (e) {

        // Init vars
        var select = $(this)
        var optionSelected = select.find(":selected")
        var requirementId = optionSelected.attr('data-requirements-id')
        var requirementVersionTd = $('.requirementVersion[data-requirements-id="'+requirementId+'"]')

        // Get versions array
        var versionsAvailable = optionSelected.attr('data-version-availables')
        try {
          versionsAvailable = JSON.parse(versionsAvailable)
        } catch (e) {
          console.log(e)
          return false
        }

        // Setup select/option
        var versionSelect = '<select class="form-control" name="requirements[' + requirementId + '][version]">'
        for (var i = 0; i < versionsAvailable.length; i++) {
          versionSelect += '<option value="' + versionsAvailable[i] + '">' + versionsAvailable[i] + '</option>'
        }
        versionSelect += '</select>'

        // Set HTML
        requirementVersionTd.html(versionSelect)

      })

      $('.deleteRequirement').unbind('click')
      $('.deleteRequirement').on('click', function (e) {

        e.preventDefault()

        var btn = $(this)
        var requirementId = btn.attr('data-requirements-id')

        $('tr[data-requirements-id="'+requirementId+'"]').slideUp(150, function () {
          $(this).remove()
        })

      })

      // handle requirement
      var requirement = $('tr[data-requirement-empty]').html()
      var requirementId = $('tr[data-requirement-empty]').attr('data-requirements-id')
      requirement = requirement.replaceAll('requirements['+requirementId+']', 'requirements[REQUIREMENTS_ID]')
      requirement = requirement.replaceAll('data-requirements-id="'+requirementId+'"', 'data-requirements-id="REQUIREMENTS_ID"')
      delete requirementId

      $('.addRequirement').unbind('click')
      $('.addRequirement').on('click', function (e) {

        e.preventDefault()

        var btn = $(this)
        var btnTr = btn.parent().parent()
        var requirementId = parseInt(btn.attr('data-requirements-id'))

        requirement = requirement.replaceAll('REQUIREMENTS_ID', requirementId)

        // set HTML
        $('<tr data-requirements-id="'+requirementId+'">'+requirement+'</tr>').insertBefore(btnTr)

        // replace last requirementId
        btn.attr('data-requirements-id', requirementId+1)

        // reset events
        initRequirements()

      })

    }
    initRequirements()

block customCss
  style.
    .input-group-btn .btn {
      padding: 7px 12px;
    }
