extends ../layouts/layout

block flash

block content
  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12.text-center
          h4 #{__('Activer la')}
            span.accent &nbsp;#{__('double authentification')}

          div.col-md-4(style='margin-left:auto;margin-right:auto;float:none;')
            div.card
              div.card-img-top(style='width:220px;margin-left:auto;margin-right:auto;') !{qrcode}
              div.card-block
                form(action='#', method='POST', data-ajax, data-redirect-url='/user/profile')
                  div.form-group
                    label #{__('Code de vérification')}
                    input.form-control(type="text", name="code")
                    small.form-text.text-muted #{__("Entrez le code pour confirmer l'activation de la double authentification")}
                  button.btn.btn-success(type="submit") #{__('Valider')}
