extends ../layouts/layout

block flash

block content
  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12.text-center
          h4 #{__('Vérifier la')}
            span.accent &nbsp;#{__('connexion')}

          div.col-md-4(style='margin-left:auto;margin-right:auto;float:none;')
            div.card
              div.card-block
                form(action='/user/login/twoFactorAuth', method='POST', data-ajax, data-redirect-url='/')
                  div.form-group
                    label #{__('Code de vérification')}
                    input.form-control(type="text", name="code")
                    small.form-text.text-muted #{__("Entrez le code pour confirmer votre connexion")}
                  button.btn.btn-success(type="submit") #{__('Valider')}
