extends ../layouts/layout

block content
  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12
          h3.heading #{__("Rénitialisation de votre")}
            span.accent &nbsp;#{__('mot de passe')}

          form(method="post", action="/user/lost-password", data-ajax)
            .form-group
              label #{__("Email")}
              input.form-control(type='text', name='email')
              small.form-text.text-muted #{__("Entrez le mot de passe de votre compte, auquel sera envoyé un email pour rénitiliser votre mot de passe.")}

            .form-group.text-center
              button.btn.btn-outline-primary(type='submit') #{__("Envoyer l'email de rénitialisation")}
