extends ../layouts/layout

block flash

block content
  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12
          h3.heading #{__('Bonjour')}
            span.accent &nbsp;#{user.username}
            | ,
            p #{__('Vous êtes inscrit depuis le')} #{user.createdAt}


          include ../Elements/flash

          ul.nav.nav-tabs(role="tablist")
            li.nav-item
              a.nav-link.active(data-toggle="tab" href="#infos" role="tab") #{__('Vos informations')} #{__('personnelles')}
            li.nav-item
              a.nav-link(data-toggle="tab" href="#licenses" role="tab") #{__('Vos licences')}
            li.nav-item
              a.nav-link(data-toggle="tab" href="#hostings" role="tab") #{__('Vos licences hébergées')}
            li.nav-item
              a.nav-link(data-toggle="tab" href="#transactions" role="tab") #{__('Vos transactions')}
            li.nav-item
              a.nav-link(data-toggle="tab" href="#purchases" role="tab") #{__('Vos achats')}
            li.nav-item
              a.nav-link(data-toggle="tab" href="#connections" role="tab") #{__('Vos connexions')}


          div.tab-content
            div.tab-pane.fade.in.active(id="infos" role="tabpanel")

              // ===================================
                 ==== Informations personnelles ====
                 ===================================

              h4 #{__('Vos informations')}
                span.accent &nbsp;#{__('personnelles')}

              .row
                .col-md-6

                   form(method="post", action="/user/edit-email", data-ajax, data-custom-callback='emailUpdated')
                     .form-group
                       label #{__("Adresse email actuelle")}
                       input.form-control.disabled#current_email(type='email', disabled, value=user.email)
                     .form-group
                       label #{__("Vous souhaitez changer d'email ?")}
                       input.form-control(type='email', name="email", placeholder=__("Entrez ici votre nouvelle adresse email"))

                     .form-group.text-center
                       button.btn.btn-outline-success(type='submit') #{__("Changer mon adresse email")}

                   hr.hidden-md-up

                .col-md-6.left-vertical-separator

                   form(method="post", action="/user/edit-password", data-ajax)
                     .form-group
                       label #{__('Mot de passe')}
                       input.form-control(type='password', name="password")
                       small.form-text.text-muted #{__("Choississez un mot de passe fort et unique pour que personne ne puisse accéder à votre compte.")}
                     .form-group
                       label #{__('Confirmation du mot de passe')}
                       input.form-control(type='password', name="password_confirmation")
                       small.form-text.text-muted #{__("Répéter votre mot de passe")}

                     .form-group.text-center
                       button.btn.btn-outline-success(type='submit') #{__("Changer mon mot de passe")}

              hr

              h4 !{__('Espace <span class="accent">développeur</span>')}

              if user.developer === 'NONE'
                p.text-danger !{__("Vous n'êtes pas développeur, vous ne pouvez pas développer de plugins ou de thèmes et les partager sur le market. Pour cela, il faut que vous fassiez une candidature en cliquant sur le bouton ci-dessous.")}
                p.text-center
                  a.btn.btn-outline-warning(href="/developer") #{__("Je veux postuler pour devenir développeur")}
              else if user.developer === 'CANDIDATE'
                p.text-info !{__("Vous n'êtes pas développeur, vous avez posté une candidature pour le devenir. Celle-ci est en cours d'étude et vous recevrez une réponse par email bientôt. Si la réponse est positive, l'accès à l'espace développeur vous sera accordé.")}
                p.text-center
                  button.btn.btn-outline-secondary.disabled(disabled, title=__('Attendez que votre candidature soit validée')) #{__("Accèder à l'espace développeur")}
              else if user.developer === 'CONFIRMED'
                p.text-muted !{__("Vous êtes développeur ! Vous pouvez dès maintenant développer ou gérer des plugins/thèmes sur le market en cliquant sur le bouton ci-dessous.")}
                p.text-center
                  a.btn.btn-outline-success(href="/developer") #{__("Accèder à l'espace développeur")}

            div.tab-pane.fade(id="licenses" role="tabpanel")

              // ===================================
                 ======== Liste des licenses =======
                 ===================================

              div.alert.alert-info
                b #{__('Hébergeur compatible :')}
                | &nbsp;!{__("L'hébergeur <a href=\"http://revolta-hosting.fr\" target=\"_blank\">Revolta-Hosting</a> est 100% <b>compatible</b> avec notre CMS ! Vous pouvez d'ailleurs utilisez le code de promotion <i>MINEWEB</i> pour obtenir 20% de réduction sur l'offre <b>Start</b> de leur hébergement mutualisé.")}

              if user.licenses !== undefined && user.licenses.length > 0
                div.table-responsive
                  table.table
                    thead
                      tr
                        th ID
                        th #{__('Site')}
                        th #{__("Clé d'activation")}
                        th #{__('Statut')}
                        th #{__("Date d'achat")}
                        th #{__('Actions')}
                    tbody
                      each license, index in user.licenses
                        tr(class=license.suspended !== null ? 'disabled' : '', style=license.suspended !== null ? 'opacity:0.5;' : '')
                          td #{license.id}
                          td.licenseHost(data-license-id=license.id)
                            if license.host != null && license.host.length > 0
                              a(href=license.host, target='_blank')
                                | #{license.host}
                            else
                              em #{__('Licence non installée')}
                          td #{license.key}
                          td.licenseState(data-license-id=license.id)
                            if license.state
                              span.tag.tag-success #{__('Activée')}
                            else
                              span.tag.tag-danger #{__('Désactivée')}
                          td.moment-date(data-format=__('Le {L} à {LT}')) #{license.createdAt}
                          td
                            div.btn-group-vertical
                              if license.state && license.suspended === null
                                button.btn.btn-danger.disable-license(data-license-id=license.id) #{__('Désactiver')}
                              else if !license.state && license.suspended === null
                                button.btn.btn-success.enable-license(data-license-id=license.id) #{__('Activer')}
                              else
                                button.btn.btn-success.disabled(disabled) #{__('Activer')}
                              button.btn.btn-info.edit-host-license(data-license-id=license.id, data-license-host=license.host,) #{__("Modifier l'URL")}
                              a.btn.btn-success(href='/license/download/'+license.id) #{__('Télécharger')}
                          if license.suspended !== null
                            tr(style="position: absolute;margin-top: -112px;")
                              td(style='border-top: none;')
                                h3.text-danger(style="opacity:1;")
                                  | #{__('Licence désactivée pour :')} #{license.suspended}
              else
                div.alert.alert-danger !{__('Vous ne disposez pas encore de license ! Vous pouvez dès maintenant en achetez une sur <a href="/download">cette page</a>.')}

            div.tab-pane.fade(id="hostings" role="tabpanel")

              // =========================================
                 ====== Liste des licences hébergées =====
                 =========================================


              if user.hostings !== undefined && user.hostings.length > 0
                div.table-responsive
                  table.table
                    thead
                      tr
                        th ID
                        th #{__('Site')}
                        th #{__("Clé d'activation")}
                        th #{__('Statut')}
                        th #{__("Date d'expiration")}
                        th #{__("Date d'achat")}
                        th #{__('Actions')}
                    tbody
                      each hosting, index in user.hostings
                        tr(class=hosting.suspended !== null ? 'disabled' : '', style=hosting.suspended !== null ? 'opacity:0.5;' : '')
                          td #{hosting.hosting.id}
                          td.hostingHost(data-host-id=hosting.hosting.id)
                            if hosting.hosting.hostType === 'SUBDOMAIN'
                               a(href='http://'+hosting.host+'.craftwb.fr', target='_blank')
                                 | http://#{hosting.host}.craftwb.fr
                            else
                              a(href='http://'+hosting.host, target='_blank')
                                | http://#{hosting.host}
                          td #{hosting.key}
                          td
                            if hosting.state
                              span.tag.tag-success #{__('Activé')}
                            else
                              span.tag.tag-danger #{__('Désactivé')}
                          td
                            // Si la date de fin est inférieur à dans 1 semaine, l'hébergement va bientôt expiré
                            if (moment(hosting.expireAt).unix() < moment().add(7, 'days').hours(0).minutes(0).seconds(0).unix())
                              span.text-danger.moment-date(data-format=__('Le {L} à 12:00')) #{hosting.expireAt}
                            else
                              span.moment-date(data-format=__('Le {L} à 12:00')) #{hosting.expireAt}
                          td.moment-date(data-format=__('Le {L} à {LT}')) #{hosting.createdAt}
                          td
                            div.btn-group-vertical
                              button.edit-host-hosting.btn.btn-info(data-hosting-id=hosting.hosting.id, data-hosting-host=hosting.host, data-hosting-hostType=hosting.hosting.hostType.toLowerCase()) #{__("Modifier le nom de domaine")}
                              a(href='/hosting/renew/'+hosting.hosting.id).btn.btn-success #{__('Renouveler')}
                        if hosting.suspended !== null
                          tr(style="position: absolute;margin-top: -112px;")
                            td(style='border-top: none;')
                              h3.text-danger(style="opacity:1;")
                                | #{__('Licence hébergée désactivé pour :')} #{hosting.suspended}
              else
                div.alert.alert-danger !{__('Vous ne disposez pas encore de licence hébergée ! Vous pouvez dès maintenant en louer un sur <a href="/download">cette page</a>.')}

            div.tab-pane.fade(id="transactions" role="tabpanel")

              // ===================================
                 ====== Liste des transactions =====
                 ===================================

              h4 #{__('Vos transactions')}
                span.accent &nbsp;#{__('PayPal')}

              if user.paypalPayments !== undefined && user.paypalPayments.length > 0
                div.table-responsive
                  table.table
                    thead
                      tr
                        th #{__('ID de la transaction')}
                        th #{__('Montant de la transaction')}
                        th #{__('Article payé')}
                        th #{__('Email PayPal')}
                        th #{__('Date du paiement')}
                        th #{__('Statut')}
                    tbody
                      each payment, index in user.paypalPayments
                        tr
                          td
                            a(href='https://www.paypal.com/fr/cgi-bin/webscr?cmd=_view-a-trans&id='+payment.paymentId, target='_blank') #{payment.paymentId}
                          td #{payment.paymentAmount} €
                          td
                            if payment.purchase !== undefined && typeof payment.purchase == 'object'
                              if payment.purchase.type === 'LICENSE'
                                | #{__('Licence')}##{payment.purchase.itemId}
                              else if payment.purchase.type === 'HOSTING'
                                | #{__('Licence hébergée')}##{payment.purchase.itemId}
                              else if payment.purchase.type === 'RENEW_LICENSE_HOSTED'
                                | #{__('Renouvelement de licence hébergée')}##{payment.purchase.itemId}
                              else if payment.purchase.type === 'PLUGIN'
                                | #{__('Plugin')}
                              else if payment.purchase.type === 'THEME'
                                | #{__('Thème')}
                            else
                              | N/A
                          td #{payment.buyerEmail}
                          td.moment-date(data-format=__('Le {L} à {LT}')) #{payment.paymentDate}
                          td
                            if payment.state === 'COMPLETED'
                              span.tag.tag-success #{__('Complété')}
                            else if payment.state === 'PENDING'
                              span.tag.tag-warning #{__('En attente')}
                            else if payment.state === 'REVERSED'
                              span.tag.tag-warning #{__('Suspendu')}
                            else if payment.state === 'REFUNDED'
                              span.tag.tag-danger #{__('Remboursé')}
                            else if payment.state === 'FAILED'
                              span.tag.tag-danger #{__('Échoué')}
              else
                div.alert.alert-warning !{__("Vous n'avez pas encore effectué de transaction PayPal sur votre compte.")}

              hr

              h4 #{__('Vos transactions')}
                span.accent &nbsp;#{__('Dédipass')}

              if user.dedipassPayments !== undefined && user.dedipassPayments.length > 0
                div.table-responsive
                  table.table
                    thead
                      tr
                        //th #{__('Montant de la transaction')}
                        th #{__('Code utilisé')}
                        th #{__('Article payé')}
                        th #{__('Palier utilisé')}
                        th #{__('Date du paiement')}
                    tbody
                      each payment, index in user.dedipassPayments
                        tr
                          //td #{payment.amount} €
                          td #{payment.code}
                          td
                            if payment.purchase !== undefined && typeof payment.purchase == 'object'
                              if payment.purchase.type === 'LICENSE'
                                | #{__('Licence')}##{payment.purchase.itemId}
                              else if payment.purchase.type === 'HOSTING'
                                | #{__('Licence hébergée')}##{payment.purchase.itemId}
                              else if payment.purchase.type === 'RENEW_LICENSE_HOSTED'
                                | #{__('Renouvelement de licence hébergée')}##{payment.purchase.itemId}
                              else if payment.purchase.type === 'PLUGIN'
                                | #{__('Plugin')}
                              else if payment.purchase.type === 'THEME'
                                | #{__('Thème')}
                            else
                              | N/A
                          td #{payment.rate}
                          td.moment-date(data-format=__('Le {L} à {LT}')) #{payment.createdAt}
              else
                div.alert.alert-warning !{__("Vous n'avez pas encore effectué de transaction Dédipass sur votre compte.")}

            div.tab-pane.fade(id="purchases" role="tabpanel")

              // ===================================
                 ========= Liste des achats ========
                 ===================================

              h4 #{__('Vos achats de')}
                span.accent &nbsp;#{__('plugin')}

              if user.purchases.plugin !== undefined && user.purchases.plugin.length > 0
                div.table-responsive
                  table.table
                    thead
                      tr
                        th #{__('Moyen de paiement')}
                        th #{__('Nom du plugin')}
                        th #{__("Date de l'achat")}
                        th #{__('Statut')}
                    tbody
                      each purchase, index in user.purchases.plugin
                        tr
                          td
                            if purchase.paymentType === 'PAYPAL'
                              | PayPal
                            else if purchase.paymentType === 'DEDIPASS'
                              | Dédipass
                            else if purchase.paymentType === 'FREE'
                              | #{__('Gratuit')}
                            else
                              | N/A
                          td
                            a(href='/market/plugin/' + purchase.item.slug) #{purchase.item.name}
                          td.moment-date(data-format=__('Le {L} à {LT}')) #{purchase.createdAt}
                          td
                            if purchase.paymentType !== 'PAYPAL' || (purchase.paymentType === 'PAYPAL' && purchase.payment.state === 'COMPLETED')
                              span.tag.tag-success #{__('Actif')}
                            else
                              span.tag.tag-danger #{__('Désactivé')}
              else
                div.alert.alert-warning !{__("Vous n'avez pas encore acheté de plugin sur le market.")}

              hr

              h4 #{__('Vos achats de')}
                span.accent &nbsp;#{__('thème')}

              if user.purchases.theme !== undefined && user.purchases.theme.length > 0
                div.table-responsive
                  table.table
                    thead
                      tr
                        th #{__('Moyen de paiement')}
                        th #{__('Nom du thème')}
                        th #{__("Date de l'achat")}
                        th #{__('Statut')}
                    tbody
                      each purchase, index in user.purchases.theme
                        tr
                          td
                            if purchase.paymentType === 'PAYPAL'
                              | PayPal
                            else if purchase.paymentType === 'DEDIPASS'
                              | Dédipass
                            else if purchase.paymentType === 'FREE'
                              | #{__('Gratuit')}
                            else
                              | N/A
                          td
                            a(href='/market/theme/' + purchase.item.slug) #{purchase.item.name}
                          td.moment-date(data-format=__('Le {L} à {LT}')) #{purchase.createdAt}
                          td
                            if purchase.paymentType !== 'PAYPAL' || (purchase.paymentType === 'PAYPAL' && purchase.payment.state === 'COMPLETED')
                              span.tag.tag-success #{__('Actif')}
                            else
                              span.tag.tag-danger #{__('Désactivé')}
              else
                div.alert.alert-warning !{__("Vous n'avez pas encore acheté de thème sur le market.")}

            div.tab-pane.fade(id="connections" role="tabpanel")

              // ==========================================
                 ===== Liste des dernières connexions =====
                 ==========================================

              h4 #{__('Vos dernières')}
                span.accent &nbsp;#{__('connexions')}

              if user.connectionLogs !== undefined && user.connectionLogs.length > 0
                div.table-responsive
                  table.table
                    thead
                      tr
                        th #{__('Date de la connexion')}
                        th #{__('Adresse IP de connexion')}
                        th #{__('Localisation de la connexion')}
                        th #{__('Navigateur de la connexion')}
                    tbody
                      each connection, index in user.connectionLogs
                        tr
                          td.moment-date(data-format='Le {L} à {LT}') #{connection.createdAt}
                          td #{connection.ip}
                          td #{connection.location || 'N/A'}
                          td
                            | #{connection.agent || 'N/A'}
                            if (connection.deviceName)
                              |  (#{connection.deviceName})


              hr
              // =================================================
                 ===== Gestion de la double authentification =====
                 =================================================

              h4 #{__('Gestion de la')}
                span.accent &nbsp;#{__('double authentification')}

              p.lead
                small
                  em #{__("La double authentification est une fonctionnalité permettant de renforcer l'accès à votre compte utilisateur. Elle utilise pour cela un code à usage unique en plus du traditionnel mot de passe.")}

              if user.twoFactorAuthKey === undefined || user.twoFactorAuthKey === null
                div.text-center
                  a(href='/user/two-factor-auth/enable').btn.btn-outline-success #{__('Activer la double authentification sur mon compte')}
              else
                div.text-center
                  a(href='/user/two-factor-auth/disable').btn.btn-outline-danger #{__('Désactiver la double authentification sur mon compte')}


block modals

  #edithostingurl.modal.fade(tabindex='-1', role='dialog', aria-labelledby='edithostingurlLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label=__('Fermer'))
              span(aria-hidden='true') &times;
            h4.modal-title #{__('Modifier le nom de domaine')}
          form(method="post", action="/hosting/edit-host", data-ajax, data-custom-callback="afterEditedHostingHost")
            .modal-body
              .ajax-msg
              input#editHostHostingInputId(type='hidden', name='id')
              .form-check
                label.form-check-label
                  input.domain(type='radio', class="form-check-input", name='hostType', value='domain')
                  | &nbsp;#{__('Je veux utiliser mon nom de domaine')}
              .form-check
                label.form-check-label
                  input.subdomain(type='radio', class="form-check-input", name='hostType', value='subdomain')
                  | &nbsp;#{__('Je veux utiliser un sous-domaine gratuit')}
              #domain(style='display:none;')
                .form-group
                  .input-group
                    span#basic-addon1.input-group-addon http(s)://
                    input.form-control.domain_val(type='text', name='domain', placeholder=__('Votre domaine'))
                small(style="font-weight: 300;")
                  em #{__('Vous aurez juste à faire pointer votre domaine (entrée DNS de type A) vers cette IP : %s', sails.config.servers.hosting.host)}
              #subdomain(style='display:none;')
                .form-group
                  .input-group
                    span#basic-addon1.input-group-addon http://
                    input.form-control.domain_val(type='text', name='subdomain', placeholder=__('Votre sous-domaine'))
                    span#basic-addon2.input-group-addon .craftwb.fr
            .modal-footer
              div.btn-group
                button.btn.btn-secondary(type='button', data-dismiss='modal') #{__('Fermer')}
                button.btn.btn-primary(type='submit') #{__('Modifier le nom de domaine')}

  #editLicenseHost.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label=__('Fermer'))
              span(aria-hidden='true') &times;
            h4.modal-title #{__("Modifier le site d'installation de la licence")}
          form(method="post", action="/license/edit-host", data-ajax, data-custom-callback="afterEditedLicenseHost")
            .modal-body
              .ajax-msg
              input#editHostLicenseInputId(type='hidden', name='id')
              .form-group
                  input.form-control.domain_val(type='text', name='host', placeholder=__('http://domain.tld'))
              small(style="font-weight: 300;")
                em #{__('Vous devez entrer le site ou sera/est installée votre licence')}
            .modal-footer
              div.btn-group
                button.btn.btn-secondary(type='button', data-dismiss='modal') #{__('Fermer')}
                button.btn.btn-primary(type='submit') #{__("Modifier le site d'installation")}

block custom
  script(type='text/javascript').

    $('.edit-host-hosting').on('click', function (e) {
      e.preventDefault()

      var btn = $(this)
      var id = btn.attr('data-hosting-id')
      var host = btn.attr('data-hosting-host')
      var hostType = btn.attr('data-hosting-hostType')

      $('#editHostHostingInputId').val(id)
      $('input.'+hostType).prop("checked", true)
      $('#'+hostType).slideDown(150)
      $('input[name="'+hostType+'"]').val(host)

      $('#edithostingurl').modal('show')

    })

    $('.edit-host-license').on('click', function (e) {
      e.preventDefault()

      var btn = $(this)
      var id = btn.attr('data-license-id')
      var host = btn.attr('data-license-host')

      $('#editHostLicenseInputId').val(id)
      $('input[name="host"]').val(host)

      $('#editLicenseHost').modal('show')

    })

    $(".domain").change(function() {
      if($(".domain").is(':checked')) {
        $("#domain").slideDown(250)
        $("#subdomain").slideUp(250)
      } else {
        $("#domain").slideDown(250)
        $("#subdomain").slideUp(250)
      }
    })
    $(".subdomain").change(function() {
      if($(".subdomain").is(':checked')) {
        $("#subdomain").slideDown(250)
        $("#domain").slideUp(250)
      } else {
        $("#subdomain").slideDown(250)
        $("#domain").slideUp(250)
      }
    })

    function emailUpdated(data, response) {
      $('#current_email').val($('input[name="email"]').val())
    }

    function afterEditedHostingHost(data, response) {
      $('#edithostingurl').modal('hide')

      var btn = $('.edit-host-hosting[data-hosting-id="'+response.data.id+'"]')
      btn.attr('data-hosting-host', response.data.host)
      btn.attr('data-hosting-hostType', response.data.hostType)
      $('.hostingHost[data-host-id="'+response.data.id+'"]').html(response.data.hostFormatted)
      $('.ajax-msg').html('')
    }

    function afterEditedLicenseHost(data, response) {
      $('#editLicenseHost').modal('hide')

      var btn = $('.edit-host-license[data-license-id="'+response.data.id+'"]')
      btn.attr('data-license-host', response.data.host)
      $('.licenseHost[data-license-id="'+response.data.id+'"]').html(response.data.hostFormatted)
      $('.ajax-msg').html('')
    }

    function initLicenseStateUpdate() {

      $('.disable-license').unbind('click')
      $('.disable-license').on('click', function (e) {
        e.preventDefault()

        var btn = $(this)
        var id = btn.attr('data-license-id')

        // disable btn
        btn.addClass('disabled').attr('disabled', true)

        $.ajax({
          url: '/license/disable/' + id,
          dataType: 'json',
          success: function (data) {
            if (data.status) {
              $('.licenseState[data-license-id="' + id + '"]').html('<span class="tag tag-danger">#{__('Désactivée')}</span>')
              btn.removeClass('btn-danger disable-license').addClass('enable-license btn-success').removeClass('disabled').attr('disabled', false).html('#{__('Activer')}')
              initLicenseStateUpdate()
            }
            else {
              this.error()
            }
          },
          error: function () {
            console.log('Error on disable license!')
            btn.removeClass('disabled').attr('disabled', false)
          }
        })

      })

      $('.enable-license').unbind('click')
      $('.enable-license').on('click', function (e) {
        e.preventDefault()

        var btn = $(this)
        var id = btn.attr('data-license-id')

        // disable btn
        btn.addClass('disabled').attr('disabled', true)

        $.ajax({
          url: '/license/enable/' + id,
          dataType: 'json',
          success: function (data) {
            if (data.status) {
              $('.licenseState[data-license-id="' + id + '"]').html('<span class="tag tag-success">#{__('Activée')}</span>')
              btn.addClass('btn-danger disable-license').removeClass('enable-license btn-success').removeClass('disabled').attr('disabled', false).html('#{__('Désactiver')}')
              initLicenseStateUpdate()
            }
            else {
              this.error()
            }
          },
          error: function () {
            console.log('Error on enable license!')
            btn.removeClass('disabled').attr('disabled', false)
          }
        })

      })

    }
    initLicenseStateUpdate()
