include ../layouts/head
include ../layouts/header

section.section-gray.mini-section
  .container.clearfix
    .row

      .col-md-12
        h3.heading #{__("Rénitialisation de votre")}
          span.accent &nbsp;#{__('mot de passe')}

        form(method="post", action="/user/reset-password", data-ajax)

          input(type='hidden', name='token', value=req.params.token)

          .form-group
            label #{__('Mot de passe')}
            input.form-control(type='password', name="password")
            small.form-text.text-muted #{__("Choississez un mot de passe fort et unique pour que personne ne puisse accéder à votre compte.")}
          .form-group
            label #{__('Confirmation du mot de passe')}
            input.form-control(type='password', name="password_confirmation")
            small.form-text.text-muted #{__("Répéter votre mot de passe")}

          .form-group.text-center
            button.btn.btn-outline-primary(type='submit') #{__("Changer mon mot de passe")}


include ../layouts/footer
