extends ../layouts/email
block message
  p #{sails.__('Bonjour')} <strong>#{username}</strong>,
    br
    br
    | #{sails.__('Vous venez de procéder à votre inscription sur')} <strong>mineweb.org</strong> #{sails.__('il y a quelques instants')} #{sails.__('avec l\'IP')} <strong>#{ip}</strong>.
    br
    | #{sails.__('Nous avons besoin de procéder à une vérification de votre email, pour cela, il vous suffit de cliquer sur le lien ci-dessous')}
    br
    a(style='text-align:center;color:#428bca;text-decoration:none;', href=locals.url) #{sails.__('Cliquez ici pour vérifier votre email')}

  p
    small(style='color:grey;') #{sails.__('Si vous ne pouvez pas cliquer sur le bouton ci-dessus, mettez cette URL dans votre navigateur :')} #{url}

  p
    small
    em #{sails.__('Ceci est un message automatique, veuillez ne pas y répondre.')}
