extends ../layouts/email
block message
  p #{sails.__('Bonjour')} <strong>#{username}</strong>,
    br
    br
    | !{sails.__("Votre licence #%s (%s) sur", locals.licenseId, locals.licenseHost)} <strong>mineweb.org</strong> #{sails.__("vient d'être suspendue par notre équipe il y a quelques instants")}.
    br
    | #{sails.__('Voici la raison pour laquelle votre licence a été suspendue :')}
    em &nbsp;#{locals.reason}

  p
    small(style='color:grey;') #{sails.__("Contactez le support pour plus d'informations.")}

  p
    small
      em #{sails.__('Ceci est un message automatique, veuillez ne pas y répondre.')}
