extends ../layouts/email

  block message
    p #{request.__('Bonjour')} <strong>#{username}</strong>,
      br
      br
      | #{request.__('Vous venez de demander une rénitialisation de mot de passe sur')} <strong>mineweb.org</strong> #{request.__('il y a quelques instants')} #{request.__('avec l\'IP')} <strong>#{ip}</strong>.
      br
      | #{request.__('Il vous suffit de cliquer sur le lien ci-dessous et de suivre les étapes pour procéder au changement de votre mot de passe')}
      br
      a(style='text-align:center;color:#428bca;text-decoration:none;', href=locals.url) #{request.__('Cliquez ici pour rénitialisation votre email')}

    p
      small(style='color:grey;') #{request.__('Si vous ne pouvez pas cliquer sur le bouton ci-dessus, mettez ce URL dans votre navigateur :')} #{url}

    p
      small
        em #{request.__('Ceci est un message automatique, veuillez ne pas y répondre.')}
