extends ../layouts/email
block message
  p #{sails.__('Bonjour')} <strong>#{username}</strong>,
    br
    br
    | #{sails.__('Vous venez de demander une rénitialisation de mot de passe sur')} <strong>mineweb.org</strong> #{sails.__('il y a quelques instants')} #{sails.__('avec l\'IP')} <strong>#{ip}</strong>.
    br
    | #{sails.__('Il vous suffit de cliquer sur le lien ci-dessous et de suivre les étapes pour procéder au changement de votre mot de passe')}
    br
    a(style='text-align:center;color:#428bca;text-decoration:none;', href=locals.url) #{sails.__('Cliquez ici pour rénitialiser votre mot de passe')}

  p
    small(style='color:grey;') #{sails.__('Si vous ne pouvez pas cliquer sur le bouton ci-dessus, mettez ce URL dans votre navigateur :')} #{url}

  p
    small
      em #{sails.__('Ceci est un message automatique, veuillez ne pas y répondre.')}
