extends ../layouts/email
block message
  p #{sails.__('Bonjour')} <strong>#{username}</strong>,
    br
    br
    | !{sails.__("Votre ticket '<strong>%s</strong>' sur", locals.ticketTitle)} <strong>mineweb.org</strong> #{sails.__("vient d'être fermé par notre équipe il y a quelques instants")}.
    br
    | #{sails.__('Il vous suffit de cliquer sur le lien ci-dessous pour accèder directement à votre ticket :')}
    br
    a(style='text-align:center;color:#428bca;text-decoration:none;', href=locals.url) #{sails.__('Cliquez ici pour accéder au ticket')}

  p
    small(style='color:grey;') #{sails.__('Si vous ne pouvez pas cliquer sur le bouton ci-dessus, mettez cette URL dans votre navigateur :')} #{url}

  p
    small
      em #{sails.__('Ceci est un message automatique, veuillez ne pas y répondre.')}
