extends ../layouts/default

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-sm-4
      h2 #{__('Listes des plugins/thèmes en ligne')}
      ol.breadcrumb
        li
          a(href="/admin/dashboard") #{__('Dashboard')}
        li.active
          strong #{__('Espace développeur')}
  .row
    .col-lg-6
      .wrapper.wrapper-content.animated.fadeInUp
        .ibox
          .ibox-title
            h5 #{__('Liste plugins en ligne')}
          .ibox-content
            if plugins && plugins.length > 0
              .project-list
                .table-responsive
                  table.table.table-hover
                    tbody
                      each plugin in plugins
                        tr
                          td.project-status
                            if plugin.official
                              span.label.label-primary(style='border-radius: 10') #{__('Officiel')}
                            else
                              span.label.label-danger(style='border-radius: 10') #{__('Non officiel')}
                            span.label.label-info(style='border-radius: 10') v#{plugin.version}
                          td.project-title
                            a(href='/market/plugin/' + plugin.slug) #{plugin.name}
                            br
                            small.moment-date(fromNow) #{plugin.createdAt}
                          td.project-status
                            small #{plugin.downloads} #{__('téléchargements')}
                          td.project-people
                            span.pull-left
                              img.img-circle(data-toggle="tooltip", data-placement="top", data-original-title=plugin.author.username, src="https://www.gravatar.com/avatar/" + User.addMd5Email(plugin.author).md5Email, alt="Gravatar de " + plugin.author.username)
                              | &nbsp;#{plugin.author.username}
                          td.project-actions
                            a.btn.btn-outline.btn-primary.btn-sm(href="/market/plugin/" + plugin.slug)
                              i.fa.fa-reply
                              | &nbsp;#{__('Voir')}
                            | &nbsp;
                            a.btn.btn-outline.btn-success.btn-sm(href="/admin/user/view/" + plugin.author.id)
                              i.fa.fa-reply
                              | &nbsp;#{__("Voir l'auteur")}
                            | &nbsp;
            else
              .alert.alert-danger #{__("Aucun plugin n'est en ligne")}
    .col-lg-6
      .wrapper.wrapper-content.animated.fadeInUp
        .ibox
          .ibox-title
            h5 #{__('Liste des thèmes en ligne')}
          .ibox-content
            if themes && themes.length > 0
              .project-list
                .table-responsive
                  table.table.table-hover
                    tbody
                      each theme in themes
                        tr
                          td.project-status
                            if theme.official
                              span.label.label-primary(style='border-radius: 10') #{__('Officiel')}
                            else
                              span.label.label-danger(style='border-radius: 10') #{__('Non officiel')}
                            span.label.label-info(style='border-radius: 10') #{theme.version}
                          td.project-title
                            a(href='/market/theme/' + theme.slug) #{theme.name}
                            br
                            small.moment-date(fromNow) #{theme.createdAt}
                          td.project-status
                            small #{theme.downloads} #{__('téléchargements')}
                          td.project-people
                            span.pull-left
                              img.img-circle(data-toggle="tooltip", data-placement="top", data-original-title=theme.author.username, src="https://www.gravatar.com/avatar/" + User.addMd5Email(theme.author).md5Email, alt="Gravatar de " + theme.author.username)
                              | &nbsp;#{theme.author.username}
                          td.project-actions
                            a.btn.btn-outline.btn-primary.btn-sm(href="/market/theme/" + theme.slug)
                              i.fa.fa-reply
                              | &nbsp;#{__('Voir')}
                            | &nbsp;
                            a.btn.btn-outline.btn-success.btn-sm(href="/admin/user/view/" + theme.author.id)
                              i.fa.fa-reply
                              | &nbsp;#{__("Voir l'auteur")}
                            | &nbsp;
            else
              .alert.alert-danger #{__("Aucun thème n'est en ligne")}
