extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
      .row
        .col-md-12
          h3.heading #{__('Payer avec')}
            span.accent  #{__('Dédipass')}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12

          h4.text-center #{__('Choississez votre solution de paiement')}

          div(data-dedipass=dedipassPublicKey, data-dedipass-custom=custom)
            div.alert.alert-info
              i.fa.fa-refresh.fa-spin
              |#{__('Chargement de Dédipass en cours ...')}

block custom
  script(src="//api.dedipass.com/v1/pay.js")
