extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
      .row
        .col-md-12
          h3.heading #{__('Payer avec')}
            span.accent  #{__('PayPal')}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12

          h4.text-center.text-success #{__('Merci !')}

          p.lead.text-center.text-success
            small(style='font-size:60%;font-weight: 300;') #{__('Nous avons bien reçu votre paiement PayPal, vous allez recevoir votre produit sous peu, veuillez patientez.')}

          hr

          p.text-center.text-info
            small
              em #{__("Vous pouvez quitter cette page sans problème, cela n'influera pas sur la réception de votre produit")}
