extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
      .row
        .col-md-12
          h3.heading #{__('Payer avec')}
            span.accent  #{__('PayPal')}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12

          h4.text-center #{__('Redirection en cours...')}

          p.lead.text-center
            small(style='font-size:60%;font-weight: 300;') #{__('Nous vous redirigeons vers les services de PayPal pour effectuer le paiement ...')}

block custom
  script(type='text/javascript').

    $(window).ready(function() {
      var formContent = '';
      formContent += '<form action="https://#{sails.config.paypal.sandbox ? 'sandbox' : 'www'}.paypal.com/cgi-bin/webscr" method="post">';
        formContent += '<input name="currency_code" type="hidden" value="EUR" />';
        formContent += '<input name="shipping" type="hidden" value="0.00" />';
        formContent += '<input name="tax" type="hidden" value="#{tax}" />';
        formContent += '<input name="return" type="hidden" value="#{return_url}" />';
        formContent += '<input name="cancel_return" type="hidden" value="#{cancel_return}" />';
        formContent += '<input name="notify_url" type="hidden" value="#{notify_url}" />';
        formContent += '<input name="cmd" type="hidden" value="_xclick" />';
        formContent += '<input name="business" type="hidden" value="#{business}" />';
        formContent += "<input name=\"item_name\" type=\"hidden\" value=\"#{item_name}\" />";
        formContent += '<input name="no_note" type="hidden" value="1" />';
        formContent += '<input name="lc" type="hidden" value="fr" />';
        formContent += '<input name="custom" type="hidden" value="!{custom}">';
        formContent += '<input name="bn" type="hidden" value="PP-BuyNowBF" />';
        formContent += '<input name="amount" value="#{amount}" type="hidden">';
        formContent += '<input type="hidden" name="cbt" value="#{cbt}">';
        formContent += '<input type="hidden" name="charset" value="UTF-8">';
        //formContent += '<input type="hidden" name="image_url" value="http://mineweb.org/img/paypal-logo.png">';
      formContent += '</form>';

      $(formContent).submit();
    })
