extends ../layouts/default

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-md-12
        h2 #{__('Chercher un(e) licence/hébergement')}
        ol.breadcrumb
          li
            a(href="/admin/dashboard") #{__('Dashboard')}
          li.active
            strong #{__('Recherche')}
  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInUp

        .ibox.float-e-margins
          .ibox-title
              h5 #{__('Entrez les informations recherchées')}
          .ibox-content
            form.form-horizontal(method='post', action="/admin/license/find/", data-ajax, data-custom-callback="afterFinded")

              .form-group
                label.col-sm-2.control-label #{__('Type de recherche')}
                .col-sm-10
                  select.form-control(name="type", data-form-no-display-error)
                    option(value="LICENSE") #{__('Licence')}
                    option(value="HOSTING") #{__('Licence hébergée')}

              .hr-line-dashed

              .form-group
                label.col-sm-2.control-label #{__("ID de la licence")}
                .col-sm-10
                  input.form-control(type='text', name="id", data-form-no-display-error)

              .hr-line-dashed

              .form-group
                label.col-sm-2.control-label #{__('Utilisateur (pseudo/id/email)')}
                .col-sm-10
                  input.form-control(type='text', name="user", data-form-no-display-error)

              .hr-line-dashed

              .form-group
                label.col-sm-2.control-label #{__("Clé d'activation")}
                .col-sm-10
                  input.form-control(type='text', name="key", data-form-no-display-error)

              .hr-line-dashed

              .form-group
                label.col-sm-2.control-label #{__("URL")}
                .col-sm-10
                  input.form-control(type='text', name="host", data-form-no-display-error)
                  span.help-block.m-b-none #{__("Ne spécifier pas 'http://' et '.craftwb.fr' si il s'agit d'un hébergement utilisant notre sous-domaine.")}

              .hr-line-dashed

              .form-group
                label.col-sm-2.control-label #{__("ID du paiement (ID de notre base de données)")}
                .col-sm-10
                  input.form-control(type='text', name="purchase", data-form-no-display-error)

              .hr-line-dashed

              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(type='submit')
                    i.fa.fa-search
                    | &nbsp;#{__('Rechercher')}

block custom
  script(type="text/javascript").

    function afterFinded (form, json) {
      document.location = '/admin/license/view/' + json.data.license.id
      return false
    }
