extends ../layouts/default

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-md-12
        h2 #{__("Détails d'une licence")}
        ol.breadcrumb
          li
            a(href="/admin/dashboard") #{__('Dashboard')}
          li.active
            strong #{__('Recherche')}
  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInUp

        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Informations principales')}
            .ibox-content
              form.form-horizontal

                .row
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('ID de la licence')}
                      .col-sm-10
                        input.form-control(type='text', value=license.id, disabled)
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__("Clé d'activation")}
                      .col-sm-10
                        input.form-control(type='text', value=license.key, disabled)
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('Propriétaire')}
                      .col-sm-10
                        .input-group
                          span.input-group-addon ID: #{license.user.id}
                          input.form-control(type='text', value=license.user.username, disabled)
                          .input-group-btn
                            a.btn.btn-info(href='/admin/user/view/' + license.user.id) #{__("Voir l'utilisateur")}
                  .col-md-6
                    .form-group
                      label.col-sm-2.control-label #{__('URL de la licence')}
                      .col-sm-10
                        input.form-control(type='text', value=license.host, disabled)
                  .col-md-6
                    div.row
                      div.col-md-4.text-center
                        .form-group
                          label.control-label #{__('SecretKey')}
                          p.form-control-static
                            if (license.secretKey)
                              span.label.label-primary(style='font-size: 12px;cursor:pointer;', data-toggle="popover", data-placement="top", data-content=license.secretKey) #{__('Générée')}
                            else
                              span.label.label-danger(style='font-size: 12px;') #{__('Non générée')}
                      div.col-md-4.text-center
                        .form-group
                          label.control-label #{__('Statut')}
                          p.form-control-static
                            if (license.state)
                              span.label.label-primary(style='font-size: 12px;') #{__('Activée')}
                            else
                              span.label.label-danger(style='font-size: 12px;') #{__('Désactivée')}
                      div.col-md-4.text-center
                        .form-group
                          label.control-label #{__('Dernière vérification de licence')}
                          p.form-control-static
                            span.label.label-info.moment-date(style='font-size: 12px;', fromNow) #{new Date(lastCheckDate)}
                  .col-md-6.text-center
                    unless license.suspended
                      a.btn.btn-outline.btn-warning#suspend(href='/admin/license/suspend/' + license.id) #{__('Je veux suspendre cette licence')}
                      | &nbsp;
                    a.btn.btn-outline.btn-info#getDebug(href='/admin/license/get-debug/' + license.id) #{__('Récupérer des informations sur la licence')}


        .col-md-12#debugResponse(style='display:none;')
          .ibox.float-e-margins
            .ibox-content
              .row
                .col-md-12
                  .alert.alert-success #{__('Voici les résultats du débug demandé :')}
                  #debugResponseContent

        if license.suspended
          .col-md-12
            .ibox.float-e-margins
              .ibox-content
                div.row
                  div.col-md-10
                    .alert.alert-warning
                      strong #{__('Cette licence est désactivée !')}
                      | &nbsp;"<em>#{license.suspended}</em>"
                  div.col-md-2.text-center
                    a.btn.btn-outline.btn-primary(href='/admin/license/unsuspend/' + license.id) #{__('Je veux réactiver cette licence')}

        if license.hosting
          .col-md-12
            .ibox.float-e-margins
              .ibox-title
                h4 #{__('Licence hébergée lié')}
              .ibox-content
                div.row
                  .table-responsive
                    table.table.table-hover.no-margins(style="font-size: 13px;")
                      thead
                        tr
                          th #{__('ID')}
                          th #{__('Type du domaine')}
                          th #{__("Date d'expiration")}
                      tbody
                        tr
                          td #{license.hosting.id}
                          td #{license.hosting.hostType}
                          td.moment-date(data-format="Le {L} à {LT}") #{license.expireAt}


        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__('Paiement')}
            .ibox-content
              if (license.purchase.paymentType === 'FREE' || !payment)
                .alert.alert-warning #{__('Cette licence a été obtenue gratuitement (ajout manuel ou code promotionnel du prix total de la licence).')}
              else
                .table-responsive
                  table.table.table-hover.no-margins(style="font-size: 13px;")
                    thead
                      tr
                        th #{__('Type de paiement')}
                        th #{__("ID de l'achat")}
                        th #{__("ID du paiement")}
                        if license.purchase.paymentType === 'PAYPAL'
                          th #{__('ID de la transaction PayPal')}
                        if license.purchase.paymentType === 'PAYPAL'
                          th #{__("Montant payé par l'utilisateur")}
                        if license.purchase.paymentType === 'PAYPAL'
                          th #{__("Taxes payée par l'utilisateur")}
                        th #{__('Montant reçu')}
                        if license.purchase.paymentType === 'PAYPAL'
                          th #{__("Email PayPal de l'utilisateur")}
                        if license.purchase.paymentType === 'DEDIPASS'
                          th #{__("Code utilisé par l'utilisateur")}
                        if license.purchase.paymentType === 'DEDIPASS'
                          th #{__("Palier utilisé par l'utilisateur")}
                        th #{__("Date du paiement")}
                        if license.purchase.paymentType === 'PAYPAL'
                          th #{__('Statut du paiement')}
                        if license.purchase.paymentType === 'PAYPAL' && payment.reversedReason
                          th #{__('Raison du litige')}
                        if license.purchase.paymentType === 'PAYPAL' && payment.caseDate
                          th #{__('Date du litige')}
                        if license.purchase.paymentType === 'PAYPAL' && payment.refundDate
                          th #{__('Date du remboursement')}
                        th #{__('Dernière mise à jour du paiement')}
                    tbody
                      tr
                        td #{license.purchase.paymentType === 'PAYPAL' ? 'PayPal' : 'Dédipass'}
                        td #{license.purchase.id}
                        td #{payment.id}
                        if license.purchase.paymentType === 'PAYPAL'
                          td #{payment.paymentId}
                        if license.purchase.paymentType === 'PAYPAL'
                          td.text-info #{payment.paymentAmount} €
                        if license.purchase.paymentType === 'PAYPAL'
                          td.text-danger #{payment.taxAmount} €
                        td.text-success
                          if license.purchase.paymentType === 'PAYPAL'
                            | #{payment.paymentAmount - payment.taxAmount} €
                          else
                            | #{payment.payout} €
                        if license.purchase.paymentType === 'PAYPAL'
                          td #{payment.buyerEmail}
                        if license.purchase.paymentType === 'DEDIPASS'
                          td #{payment.code}
                        if license.purchase.paymentType === 'DEDIPASS'
                          td #{payment.rate}
                        td
                          span.fa.fa-calendar
                          | &nbsp;
                          if license.purchase.paymentType === 'PAYPAL'
                            span.moment-date(data-format="Le {L} à {LT}") #{payment.paymentDate}
                          else
                            span.moment-date(data-format="Le {L} à {LT}") #{payment.createdAt}
                        if license.purchase.paymentType === 'PAYPAL'
                          td
                            if payment.state === 'COMPLETED'
                              span.label.label-success #{__('Complété')}
                            else if payment.state === 'PENDING'
                              span.label.label-warning #{__('En attente')}
                            else if payment.state === 'REVERSED'
                              span.label.label-warning #{__('Suspendu')}
                            else if payment.state === 'REFUNDED'
                              span.label.label-danger #{__('Remboursé')}
                            else if payment.state === 'FAILED'
                              span.label.label-danger #{__('Échoué')}
                        if license.purchase.paymentType === 'PAYPAL' && payment.reversedReason
                          td #{payment.reversedReason}
                        if license.purchase.paymentType === 'PAYPAL' && payment.caseDate
                          td
                            span.fa.fa-calendar
                            | &nbsp;
                            span.moment-date(data-format="Le {L} à {LT}") #{payment.caseDate}
                        if license.purchase.paymentType === 'PAYPAL' && payment.refundDate
                          td
                            span.fa.fa-calendar
                            | &nbsp;
                            span.moment-date(data-format="Le {L} à {LT}") #{payment.refundDate}
                        td
                          span.fa.fa-calendar
                          | &nbsp;
                          span.moment-date(data-format="Le {L} à {LT}") #{payment.updatedAt}

        .col-md-12
          .ibox.float-e-margins
            .ibox-title
              h4 #{__("Logs de l'API")}
            .ibox-content
              .table-responsive
                table.table.table-hover.no-margins.dataTable(style="font-size: 13px;")
                  thead
                    tr
                      th #{__("Version de l'API")}
                      th #{__('Action')}
                      th #{__('Date')}
                      th #{__('Statut')}
                      th #{__("Message d'erreur")}
                      th #{__('Données envoyées')}
                  tbody
                    each log in apiLogs
                      tr
                        td v#{log.apiVersion}
                        td #{log.action}
                        td
                          span.fa.fa-calendar
                          | &nbsp;
                          span.moment-date(data-format="Le {L} à {LT}") #{log.date}
                        td
                          if log.status
                            span.label.label-primary #{__('Succès')}
                          else
                            span.label.label-danger #{__('Erreur')}
                        td
                          unless log.status
                            code #{log.errorMessage}
                        td
                          code #{log.data}

  div.clearfix
  br
  br

block cssCustom
  style.
    .popover {
      max-width: 300px;
    }
    .dataTables_filter {
      margin-bottom: 30px;
      float: right;
    }
    #DataTables_Table_0_info {
      margin-top: 20px;
    }
  link(rel='stylesheet', href='/styles/admin/jquery.jsonview.min.css')
  link(href="/styles/admin/plugins/dataTables/datatables.min.css" rel="stylesheet")
block custom
  script(type='text/javascript', src='/js/admin/jquery.jsonview.min.js')
  script(type='text/javascript', src='/js/admin/plugins/dataTables/datatables.min.js')
  script(type='text/javascript').
    $(document).ready(function() {
      $("[data-toggle=popover]").each(function(e) {
        $(this).popover()
      })
    })

    $('#suspend').click(function(e) {
      e.preventDefault()

      var reason = prompt("#{__('Entrez une raison de suspension')}", "Non respect du copyright")

      if (reason != null) {
        var href = $(this).attr('href')
        window.location = href+'/'+encodeURIComponent(reason)
      }

    })

    // debug
    $('#getDebug').on('click', function(e) {
      e.preventDefault();

      var btn = $(this)
      var btnContent = btn.html()

      btn.attr('disabled', true).addClass('active disabled').html('En cours...')

      $.ajax({
        url: btn.attr('href'),
        method: 'post',
        dataType: 'JSON',
        success: function(data) {

          if(data.status) {

            $('#debugResponseContent').JSONView(data.data.debug, {collapsed: true})
            $('#debugResponse').slideDown(150)

            btn.attr('disabled', true).addClass('active disabled').html('Récupéré')

          } else {
            alert('Erreur ! ' + data.msg)
            btn.attr('disabled', false).removeClass('active disabled').html(btnContent)
          }
        },
        error: function(data, textStatus, xhr) {
          console.log(data, textStatus, xhr)
          alert('Une erreur est survenue !')
          btn.attr('disabled', false).removeClass('active disabled').html(btnContent)
        }
      })

    })

    // datatables
    $(document).ready(function(){
      $('.dataTable').DataTable({
        pageLength: 25,
        lengthChange: false,
        language: {
          "sProcessing":     "Traitement en cours...",
          "sSearch":         "Rechercher&nbsp;:&nbsp;",
          "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
          "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
          "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "sInfoPostFix":    "",
          "sLoadingRecords": "Chargement en cours...",
          "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
          "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
          "oPaginate": {
            "sFirst":      "Premier",
            "sPrevious":   "Pr&eacute;c&eacute;dent",
            "sNext":       "Suivant",
            "sLast":       "Dernier"
          },
          "oAria": {
            "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
          }
        }
      })
    })
