extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
      .row
        .col-md-12
          h3.heading #{__("Besoin d'")}
            span.accent #{__('assistance ')}
            | ? !{__('Le <span class="accent">support</span> est là pour vous !')}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12

          h4 #{__('Vos tickets ouverts')}
            a.btn.btn-success.btn-lg.pull-right(href='/support/open')
              span.fa.fa-pencil
              | &nbsp;#{__('Ouvrir un nouveau ticket')}
            a.btn.btn-primary.btn-lg.pull-right(href='/discord', style="background-color: #7289da;border-color:#7289da;margin-right:10px;")
              img(src='/img/discord.png', alt='', width=23)
              | &nbsp;#{__('Rejoindre notre discord')}

          if openTickets !== undefined && openTickets.length > 0
            div.table-responsive
              table.table.table-hover
                thead
                  tr
                    th #{__('Titre')}
                    th #{__('Catégorie')}
                    th #{__('Dernière réponse')}
                    th #{__('Statut')}
                    th #{__('Actions')}
                tbody
                  each ticket in openTickets
                    tr
                      td #{ticket.title}
                      td #{ticket.category}
                      td.moment-date(fromNow)
                        if ticket.lastReply !== undefined
                          | #{ticket.lastReply.createdAt}
                        else
                          | #{ticket.updatedAt}
                      td
                        if ticket.state === 'WAITING_STAFF_RESPONSE'
                          span.tag.tag-warning #{__('En attente de la réponse du staff')}
                        else
                          span.tag.tag-info #{__('En attente de votre réponse')}
                      td
                        div.btn-group
                          a.btn.btn-outline-info(href='/support/view/' + ticket.id) #{__('Voir')}
                          a.btn.btn-outline-danger(href='/support/close/' + ticket.id) #{__('Fermer')}
          else
            div.alert.alert-warning !{__('Vous n\'avez pas de ticket d\'ouvert. Avant d\'en ouvrir un veuillez regarder la <a class="text-warning" href="http://docs.mineweb.org/">documentation</a>.')}

          hr

          h4 #{__('Vos tickets fermés')}


          if closedTickets !== undefined && closedTickets.length > 0
            div.table-responsive
              table.table.table-hover
                thead
                  tr
                    th #{__('Titre')}
                    th #{__('Catégorie')}
                    th #{__('Date de fermeture')}
                    th #{__('Dernière réponse')}
                    th #{__('Actions')}
                tbody
                  each ticket in closedTickets
                    tr
                      td #{ticket.title}
                      td #{ticket.category}
                      td.moment-date(fromNow) #{ticket.closedDate}
                      td.moment-date(fromNow)
                        if ticket.lastReply !== undefined
                          | #{ticket.lastReply.createdAt}
                        else
                          | #{ticket.updatedAt}
                      td
                        div.btn-group
                          a.btn.btn-outline-success(href='/support/reopen/' + ticket.id) #{__('Ouvrir')}
                          a.btn.btn-outline-info(href='/support/view/' + ticket.id) #{__('Voir')}
          else
            div.alert.alert-warning !{__('Vous n\'avez pas de ticket de clos.')}
