extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
      .row
        .col-md-12
          h3.heading #{ticket.title}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12

          ul.timeline
            each reply in ticket.replies
              li
                .timeline-badge
                  img(src='https://www.gravatar.com/avatar/' + users[reply.user].md5Email, class="img-circle", style="width: 100%;margin-top:-5px;")
                .timeline-panel
                  .timeline-heading
                    h5.timeline-title #{users[reply.user].username}
                      if users[reply.user].role === 'DEVELOPER'
                        span.tag.tag-danger.pull-right
                          span.fa.fa-code
                          | &nbsp;#{__('Développeur')}
                      else if users[reply.user].role === 'MOD'
                        span.tag.tag-warning.pull-right
                          span.fa.fa-star
                          | &nbsp;#{__('Staff')}
                      else if users[reply.user].role === 'ADMIN' || users[reply.user].role === 'FOUNDER'
                        span.tag.tag-danger.pull-right
                          span.fa.fa-lock
                          | &nbsp;#{__('Administrateur')}

                    p.date
                      small.text-muted
                        i.glyphicon.glyphicon-time
                        span.moment-date(fromNow) #{reply.createdAt}
                  .timeline-body
                    p !{reply.content}
            li#reply
              .timeline-badge
                img(src='https://www.gravatar.com/avatar/' + user.md5Email, class="img-circle", style="width: 100%;margin-top:-5px;")
              .timeline-panel
                .timeline-heading
                  h5.timeline-title #{__('Votre réponse')}
                  p.date
                .timeline-body
                  form(method="post", action="/support/reply/" + ticket.id, data-ajax, data-custom-callback="afterAddReply")
                    textarea.form-control(name='content', rows="5")
                    small.form-text.text-muted !{__("Soyez le plus explicite et fournissez le plus d'informations possibles.<br>N'oubliez pas que la courtoisie et la politesse nous motivent plus pour vous aider.")}
                    button.btn.btn-outline-success.pull-right #{__('Répondre')}

block customCss
  link(rel='stylesheet', href='/styles/timeline.css')

block custom
  script(type='text/javascript').
    function afterAddReply(inputs, json) {

      var date = json.data.createdAt
      var content = json.data.content

      var el = $('li#reply')

      var reply = ''


      el.slideUp(100, function() {

        var moment_instance = moment(date)
        moment_instance.locale(navigator.language)
        date = moment_instance.fromNow()
        $(this).find('h5.timeline-title').html('#{user.username}')

        $(this).find('p.date').html('<small class="text-muted"><i class="glyphicon glyphicon-time"></i><span class="moment-date" fromNow>'+date+'</span></small>')
        $(this).find('.timeline-body').html('<p>'+content+'</p>')

        $(this).slideDown(100)

      })

      return false

    }
