extends ../layouts/default

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-md-12
        h2 #{__("Statistiques")}
        ol.breadcrumb
          li
            a(href="/admin/dashboard") #{__('Dashboard')}
          li.active
            strong #{__('Statistiques')}
  .row

    .col-lg-2
      .widget.style1.navy-bg
        .row.vertical-align
          .col-xs-3
            i.fa.fa-users.fa-3x
          .col-xs-9.text-right
            span #{__('Utilisateurs totaux')}
            h2.font-bold #{stats.usersCount}
    .col-lg-2
      .widget.style1.blue-bg
        .row.vertical-align
          .col-xs-3
            i.fa.fa-user.fa-3x
          .col-xs-9.text-right
            span #{__('Moyenne mensuelle')}
            h2.font-bold +#{stats.usersMonthlyAverageRegister}
    .col-lg-2
      .widget.style1.red-bg
        .row.vertical-align
          .col-xs-3
            i.fa.fa-user.fa-3x
          .col-xs-9.text-right
            span #{__('Inscrits ce mois-ci')}
            h2.font-bold #{stats.usersRegisterCountThisMonth}
    .col-lg-2
      .widget.style1.yellow-bg
        .row.vertical-align
          .col-xs-3
            i.fa.fa-euro.fa-3x
          .col-xs-9.text-right
            span #{__('Généré au total')}
            h2.font-bold #{stats.totalProfit} EUR
    .col-lg-2
      .widget.style1.lazur-bg
        .row.vertical-align
          .col-xs-3
            i.fa.fa-euro.fa-3x
          .col-xs-9.text-right
            span #{__('Moyenne mensuelle')}
            h2.font-bold #{stats.averageMonthlyProfit} EUR
    .col-lg-2
      .widget.style1.navy-bg
        .row.vertical-align
          .col-xs-3
            i.fa.fa-euro.fa-3x
          .col-xs-9.text-right
            span #{__('Généré ce mois-ci')}
            h2.font-bold #{stats.monthProfit} EUR


    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInUp
        .row

          .col-lg-6
            .ibox.float-e-margins
              .ibox-title
                h5 #{__('Achats mensuels (licences/hébergements)')}
              .ibox-content
                div#chartLicensesHostingsPurchases
                  canvas#lineChartLicensesHostingsPurchases(height="140")
              .ibox-footer
                span #{__('Moyennes :')}
                span.pull-right
                  b #{__('Licences')} :&nbsp;
                  small #{__('~ %s/mois', Utils.avg(stats.purchasesThisMonth.licences))}
                span.pull-right &nbsp;|&nbsp;
                span.pull-right
                  b #{__('Hébergements')} :&nbsp;
                  small #{__('~ %s/mois', Utils.avg(stats.purchasesThisMonth.hostings))}

          .col-lg-6
            .ibox.float-e-margins
              .ibox-title
                h5 #{__('Revenus par mois')}
              .ibox-content
                div#chartTotalIncomeByMonths
                  canvas#lineChartTotalIncomeByMonths(height="140")
              .ibox-footer
                span #{__('Moyenne :')}
                  small #{__('~ %s/mois', Utils.avg(stats.totalIncomeByMonths))}

        .row

          .col-lg-6
            .ibox.float-e-margins
              .ibox-title
                h5 #{__('Revenus des plugins')}
              .ibox-content
                table.table
                  thead
                    th #{__('Nom')}
                    th #{__('Revenus')}
                  tbody
                    each plugin in stats.pluginsIncomes
                      tr
                        td plugin.name
                        td plugin.total


          .col-lg-6
            .ibox.float-e-margins
              .ibox-title
                h5 #{__('Revenus des thèmes')}
              .ibox-content
                table.table
                  thead
                    th #{__('Nom')}
                    th #{__('Revenus')}
                  tbody
                    each theme in stats.themesIncomes
                      tr
                        td theme.name
                        td theme.total



block cssCustom
  style.
    .bar-legend li span,
    .line-legend li span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
    ul.bar-legend,
    ul.line-legend {
      list-style: none;
      padding-left: 0;
      text-align: center;
    }
    .bar-legend li,
    .line-legend li {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }
block custom
  script(src="/js/admin/plugins/chartJs/Chart.min.js")
  script(type='text/javascript').

    // Purchases (licences/hostings)
    $(function () {
      var data = {
        labels: !{JSON.stringify(lastMonths)},
        datasets: [
          {
             label: "Licences",
             fillColor: "rgba(220,220,220,0.2)",
             strokeColor: "rgba(220,220,220,1)",
             pointColor: "rgba(220,220,220,1)",
             pointStrokeColor: "#fff",
             pointHighlightFill: "#fff",
             pointHighlightStroke: "rgba(220,220,220,1)",
             data: #{JSON.stringify(stats.purchasesThisMonth.licences)}
           },
           {
             label: "Hébergements",
             fillColor: "rgba(151,187,205,0.2)",
             strokeColor: "rgba(151,187,205,1)",
             pointColor: "rgba(151,187,205,1)",
             pointStrokeColor: "#fff",
             pointHighlightFill: "#fff",
             pointHighlightStroke: "rgba(151,187,205,1)",
             data: #{JSON.stringify(stats.purchasesThisMonth.hostings)}
           }
        ]
      }

      var options = {
        responsive: true,
        multiTooltipTemplate: "<%= value %> <%= datasetLabel %>"
      }

      var canvas = document.getElementById("lineChartLicensesHostingsPurchases").getContext("2d")
      var chart = new Chart(canvas)
      chart = chart.Line(data, options)

      $('#chartLicensesHostingsPurchases').prepend(chart.generateLegend())
    })

    // Total income by months
    $(function () {
      var data = {
        labels: !{JSON.stringify(lastMonths)},
        datasets: [
          {
             label: "Revenus",
             fillColor: "rgba(151,187,205,0.2)",
             strokeColor: "rgba(151,187,205,1)",
             pointColor: "rgba(151,187,205,1)",
             pointStrokeColor: "#fff",
             pointHighlightFill: "#fff",
             pointHighlightStroke: "rgba(151,187,205,1)",
             data: #{JSON.stringify(stats.totalIncomeByMonths)}
           }
        ]
      }

      var options = {
        responsive: true,
        multiTooltipTemplate: "<%= value %> <%= datasetLabel %>"
      }

      var canvas = document.getElementById("lineChartTotalIncomeByMonths").getContext("2d")
      var chart = new Chart(canvas)
      chart = chart.Line(data, options)

      $('#chartTotalIncomeByMonths').prepend(chart.generateLegend())
    })
