extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
      .row
        .col-md-12
          h3.heading #{__('Acheter une')}
            span.accent  #{__('licence')}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12

          h4 #{__('Description et conditions')}

          p.lead
            small(style='font-size:60%;font-weight: 300;') - !{__('En payant la licence, vous y aurez accès indeterminément. Vous aurez <b>accès à tous les fichiers</b> et vous pourrez les modifier comme vous le souhaitez.')}
              br
              | - !{__('Vous pourrez donc facilement ajouter et créer des plugins ou thèmes personnalisés pour votre site (fonctionnement expliqué sur la documentation).')}
              br
              | - !{__("<b>Aucune licence hébergée</b> ni nom de domaine n'est fourni, c'est à vous avec vos propre moyens d'héberger cette licence sur un hébergeur compatible et de gérer l'éventuel nom de domaine.")}
              br
              | - !{__("Une licence n'est par contre <b>utilisable que sur 1 seul site à la fois</b> (1 seul nom de domaine), mais vous pouvez bien sûr à tout moment changer l'adresse de votre site depuis votre profil sur mineweb.org.")}
              br
              | - !{__("Une licence ne peux pas être revendue et peut être <b>suspendue à tout moment sans préavis</b> si la condition ci-dessus n'est pas respectée.")}
              br
              | - !{__('Votre licence peut aussi être suspendue sans préavis si vous <b>supprimez la ligne mentionnant MineWeb</b> ou si celle-ci <b>n\'est pas visible</b> (propulsé par <a href="http://mineweb.org">mineweb.org</a>) dans le footer de votre site.')}

          hr

          h4 #{__("Contenu de l'offre :")}

          ul.features
            li
              i.fa.fa-check.text-success
              | &nbsp;&nbsp;&nbsp;#{__('Accès aux fichiers')}
            li
              i.fa.fa-check.text-success
              | &nbsp;&nbsp;&nbsp;#{__('Accès à la documentation')}
            li
              i.fa.fa-check.text-success
              | &nbsp;&nbsp;&nbsp;#{__('Accès au support')}
            li
              i.fa.fa-check.text-success
              | &nbsp;&nbsp;&nbsp;#{__('Accès aux mises à jours gratuitement')}
            li
              i.fa.fa-times.text-danger
              | &nbsp;&nbsp;&nbsp;#{__('Hébergement du site')}
            li
              i.fa.fa-times.text-danger
              | &nbsp;&nbsp;&nbsp;#{__('Nom de domaine')}

          hr

          h4 #{__('Choix du moyen de paiement')}

          div.warning-voucher(style='display:none;')
            div.alert.alert-warning
              b #{__('Attention !')}
              | #{__('Vous ne pouvez pas payer avec le moyen de paiement "Dédipass" si vous utilisez un code promotionnel.')}

          div.col-md-6
            a.btn-pay.active(data-payment-type="paypal")
              i.pull-left.fa.fa-paypal
              h5 PayPal
              span #{__('Payez avec votre compte PayPal ou votre carte bancaire')}

          div.col-md-6
            a.btn-pay(data-payment-type="dedipass")
              i.pull-left.fa.fa-phone
              h5 Dédipass
              span #{__('Payez avec votre crédit mobile')}

          div.clearfix

          hr

          h4 #{__('Facture')}

          div.table-responsive

            table.table.table-striped.table-bordered.invoice
              thead
                tr
                  th #{__('Description')}
                  th #{__("Prix à l'unité")}
                  th #{__('Total')}
              tbody
                tr
                  td !{__('Licence MineWeb')}
                  td #{License.price} €
                  td #{License.price} €
                tr
                  td
                  td
                    div.input-group
                      input(class="form-control", name="voucher", placeholder=__('Code de promotion (optionnel)'))
                      span.input-group-btn
                        button.btn.btn-secondary#checkVoucher(data-price=License.price) #{__('Utiliser')}
                  td.voucher-reduction - 0.00 €
                tr#paypalFees
                  td
                  th #{__('Taxes')}
                  td#paypalFeesAmount(data-default-fees=PayPalService.calculateFees(License.price)) #{PayPalService.calculateFees(License.price)} €
                tr
                  td
                  th #{__('Total')}
                  th.amount#paypalAmount #{PayPalService.calculateFees(License.price) + License.price} €
                  td.amount#dedipassAmount(style='display:none;', data-default-price=__("Dépend de Dédipass"))
                    em #{__("Dépend de Dédipass")}

            hr

            div.col-md-4.pull-right
              a.btn.btn-primary.btn-block(href='#', id="pay", data-offer="license", data-content-if-free=__('Obtenir la licence'), data-content-if-not-free=__('Passer au paiement')) #{__('Passer au paiement')}

            div.clear-fix

block custom
  script(type='text/javascript', src='/js/buy.js')
