extends ../layouts/layout

block content
  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12
          h3.heading #{__('Historique des')}
            span.accent  #{__('versions')}


          each val, index in versions

            div.version-listing(class= val.state === "RELEASE" && displayed === undefined ? "selected" : "")

              if val.state === "RELEASE"
                - displayed = true

              div.row
                div.col-sm-12.col-md-6
                  h4.version
                    a(href='#') #{val.version}
                    p.version_changelog #{__('Liste des modifications :')}
                  if val.changelog !== undefined && typeof val.changelog === 'object' && val.changelog !== null
                    ul.changelog
                      each changelog, index in val.changelog['fr_FR']
                        li
                          span.type [#{changelog.type}]
                          |  #{changelog.text}
                  else
                    p.text-muted
                      i #{__('Aucun changement lors de cette mise à jour')}

                div.col-md-3
                  if val.state == 'STAGING'
                    span.text-primary #{__('En cours de préparation')}
                  else if val.state == 'DEVELOPMENT'
                    span.text-warning #{__('En cours de développement')}
                  else if val.state == 'SNAPSHOT'
                    span.text-info #{__('En cours de test')}
                  else if val.state == 'RELEASE'
                    span.text-success #{__('Disponible')}
                div.col-md-3
                  if val.state == 'RELEASE'
                    p #{__('Sortie le')}
                      b  #{val.releaseDate.toLocaleString()}
                  else if val.releaseDate !== undefined && val.releaseDate !== null
                    p #{__('Prévue pour le')}
                      b  #{val.releaseDate.toLocaleString()}
                  else
                    p.text-muted
                      i #{__('Aucune date de prévue')}
