extends ../layouts/layout

block content
  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12
          h3.heading #{__('Voir les différentes')}
            span.accent  #{__('offres')}

          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            .panel.price.panel-blue
              .panel-heading.text-center
                h3 #{__('Licence MineWeb')}
              .panel-body.text-center
                p.lead(style='font-size:40px')
                  strong #{__('10€')}
              ul.list-group.list-group-flush.text-center
                li.list-group-item
                  i.fa.fa-check.text-success
                  |  #{__('Accès aux fichiers du CMS')}
                li.list-group-item
                  i.fa.fa-times.text-danger
                  |  #{__('Hébergement compris')}
                li.list-group-item
                  i.fa.fa-check.text-success
                  |  #{__('Support rapide')}
                li.list-group-item
                  i.fa.fa-check.text-success
                  |  #{__('Documentation complète')}
              .panel-footer
                  a(href=req.session.authenticated !== undefined && req.session.authenticated ? '/purchase/license' : '#', onclick=req.session.authenticated !== undefined && req.session.authenticated ? '' : "toastr.error('"+__('Vous devez être connecté pour procéder à un achat !')+"')").btn.btn-lg.btn-block.btn-info #{__('ACHETER !')}
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            .panel.price.panel-grey
              .panel-heading.text-center
                h3 #{__('Licence hébergée MineWeb')}
              .panel-body.text-center
                p.lead(style='font-size:40px')
                  strong #{__('1.5€ / mois')}
              ul.list-group.list-group-flush.text-center
                li.list-group-item
                  i.fa.fa-times.text-danger
                  |  #{__('Accès aux fichiers du CMS')}
                li.list-group-item
                  i.fa.fa-check.text-success
                  |  #{__('Hébergement compris')}
                li.list-group-item
                  i.fa.fa-check.text-success
                  |  #{__('Support rapide')}
                li.list-group-item
                  i.fa.fa-check.text-success
                  |  #{__('Documentation complète')}
              .panel-footer
                a(href=req.session.authenticated !== undefined && req.session.authenticated ? '/purchase/hosting' : '#', onclick=req.session.authenticated !== undefined && req.session.authenticated ? '' : "toastr.error('"+__('Vous devez être connecté pour procéder à un achat !')+"')").btn.btn-lg.btn-block.btn-primary #{__('LOUER !')}

          div.clearfix

          hr

          a(href='/versions').btn.btn-outline-success.btn-block #{__("Voir l'historique des différentes versions")}

block customCss
  link(rel='stylesheet', href='/styles/price-table.css')
