extends ../layouts/layout

block content
  section#intro.text-intro.no-padding-bottom
    .container
      .row
        .col-md-12
          h3.heading #{__('Louer une')}
            span.accent  #{__('licence')}
            |  et un
            span.accent  #{__('hébergement')}

  section.section-gray.mini-section
    .container.clearfix
      .row
        .col-md-12

          h4 #{__('Description et conditions')}

          p.lead
            small(style='font-size:60%;font-weight: 300;') - !{__("En payant la location d'un hébergement, vous y aurez accès pendant 1 mois. Vous n'aurez <b>pas accès à tous les fichiers</b> et vous pourrez pas les modifier comme vous le souhaitez.")}
              br
              | - !{__("<b>L'hébergement</b> et le <b>sous-domaine</b> sont fournis, inutile donc de se prendre la tête pour trouver un hébergeur compatible.")}
              br
              | - !{__("Vous pouvez bien sûr à tout moment changer l'adresse de votre site (configurer un domaine personalisé ou un nouveau sous-domaine) depuis votre profil sur mineweb.org.")}
              br
              | - !{__('Votre licence peut aussi être <b>suspendue sans préavis</b> si vous <b>supprimez la ligne mentionnant MineWeb</b> (propulsé par <a href="http://mineweb.org">mineweb.org</a>) dans le footer de votre site.')}

          hr

          h4 #{__("Contenu de l'offre :")}

          ul.features
            li
              i.fa.fa-times.text-danger
              | &nbsp;&nbsp;&nbsp;#{__('Accès aux fichiers')}
            li
              i.fa.fa-check.text-success
              | &nbsp;&nbsp;&nbsp;#{__('Accès à la documentation')}
            li
              i.fa.fa-check.text-success
              | &nbsp;&nbsp;&nbsp;#{__('Accès au support')}
            li
              i.fa.fa-check.text-success
              | &nbsp;&nbsp;&nbsp;#{__('Accès aux mises à jours gratuitement')}
            li
              i.fa.fa-check.text-success
              | &nbsp;&nbsp;&nbsp;#{__('Hébergement du site')}
            li
              i.fa.fa-times.text-danger
              | &nbsp;&nbsp;&nbsp;#{__('Accès FTP et MySQL')}
            li
              i.fa.fa-check.text-success
              | &nbsp;&nbsp;&nbsp;#{__('Nom de domaine (sous-domaine .craftwb.fr)')}

          hr

          h4 #{__('Choix du moyen de paiement')}

          div.col-md-6
            a.btn-pay.active(data-payment-type="paypal")
              i.pull-left.fa.fa-paypal
              h5 PayPal
              span #{__('Payez avec votre compte PayPal ou votre carte bancaire')}

          div.col-md-6
            a.btn-pay(data-payment-type="dedipass")
              i.pull-left.fa.fa-phone
              h5 Dédipass
              span #{__('Payez avec votre crédit mobile ou PaySafeCard')}

          div.clearfix

          hr

          h4 #{__('Facture')}

          div.table-responsive

            table.table.table-striped.table-bordered
              thead
                tr
                  th #{__('Description')}
                  th #{__("Prix à l'unité")}
                  th #{__('Total')}
              tbody
                tr
                  td !{__('Licence MineWeb & Hébergement')}
                  td #{Hosting.price} €
                  td #{Hosting.price} €
                tr
                  td
                  td
                    input(class="form-control", name="voucher", placeholder=__('Code de promotion (optionnel)'))
                  td - 0.00 €
                tr#paypalFees
                  td
                  th #{__('Taxes')}
                  td #{PayPalService.calculateFees(Hosting.price)} €
                tr
                  td
                  th #{__('Total')}
                  th#paypalAmount #{PayPalService.calculateFees(Hosting.price) + Hosting.price} €
                  td#dedipassAmount(style='display:none;')
                    em #{__("Dépend de Dédipass")}

            hr

            div.col-md-4.pull-right
              a.btn.btn-primary.btn-block(href='#', id="pay") #{__('Passer au paiement')}

            div.clear-fix

block custom
  script(type='text/javascript', src='/js/buy.js')
