extends ../layouts/default

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-md-12
        h2
          if ticket.state === 'WAITING_STAFF_RESPONSE'
            span.label.label-warning(style='border-radius: 10', data-toggle="tooltip", data-placement="top", data-original-title=__('En attente de la réponse du staff')) S
          else if ticket.state === 'WAITING_USER_RESPONSE'
            span.label.label-info(style='border-radius: 10', data-toggle="tooltip", data-placement="top", data-original-title=__("En attente de la réponse de l'utilisateur")) U
          else
            span.label.label-danger(style='border-radius: 10', data-toggle="tooltip", data-placement="top", data-original-title=__("Fermé")) F
          | &nbsp;#{ticket.title}
        ol.breadcrumb
          li
            a(href="/admin/dashboard") #{__('Dashboard')}
          li.active
            strong #{__('Support')}
  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInUp

        .ibox.float-e-margins
          .ibox-content.text-center.p-md
            div.row
              div.col-md-4
                h3
                  b #{__('Statut')}
                  br
                  br
                  if ticket.state === 'CLOSED'
                    span.label.label-danger #{__("Fermé")}
                  else
                    select.form-control(name='state')
                      option(value="WAITING_STAFF_RESPONSE", selected=ticket.state === 'WAITING_STAFF_RESPONSE') #{__('En attente de la réponse du staff')}
                      option(value="WAITING_USER_RESPONSE", selected=ticket.state === 'WAITING_USER_RESPONSE') #{__("En attente de la réponse de l'utilisateur")}
              div.col-md-4
                h3
                  b #{__('Catégorie')}
                  br
                  br
                  select.form-control(name='category')
                    option(value="GENERAL", selected=ticket.category === 'GENERAL') #{__('Général')}
                    option(value="SERVER", selected=ticket.category === 'SERVER') #{__('Serveur')}
                    option(value="DEVELOPMENT", selected=ticket.category === 'DEVELOPMENT') #{__('Développement')}
                    option(value="SUGGESTION", selected=ticket.category === 'SUGGESTION') #{__('Suggestion')}
                    option(value="QUESTION", selected=ticket.category === 'QUESTION') #{__('Question')}
                    option(value="OTHER", selected=ticket.category === 'OTHER') #{__('Autre')}
              div.col-md-4
                h3
                  if ticket.license
                    p
                      b #{__('Licence associée')}
                    a.btn.btn-outline.btn-info.text-muted(href='/admin/license/view/' + ticket.license) #{__("Voir la licence associée")} ID##{ticket.license}
                  else if ticket.hosting
                    p
                      b #{__('Hébergement associé')}
                    a.btn.btn-outline.btn-info.text-muted(href='/admin/hosting/view/' + ticket.hosting) #{__("Voir l'hébergement associé")} ID##{ticket.hosting}
                  else
                    .text-muted
                      em #{__('Aucun(e) licence/hébergement associé(e)')}


        .chat-discussion
          each reply in ticket.replies
            // left if author/user, right if staff member
            .chat-message(class=reply.user.id === ticket.user.id ? 'left' : 'right')
              img.message-avatar(src="http://www.gravatar.com/avatar/" + reply.user.md5Email, alt='')
              .message
                a.message-author(href='#') #{reply.user.username}
                span.message-date.moment-date(fromNow) #{reply.createdAt}
                span.message-content !{reply.content}

  if ticket.state !== 'CLOSED'
    .row(style="margin-bottom:100px;")
      .col-lg-12
        .chat-message-form

          form(action="/admin/support/reply/" + ticket.id, method="post", data-ajax, data-redirect-url='?')

            .form-group
              textarea#editor(name='reply', data-form-no-display-error)

            .form-group
              button.btn.btn-primary.pull-right(type="submit") #{__('Répondre au ticket')}

  div.clearfix

block custom
  script(type='text/javascript', src='/js/admin/summernote/summernote.min.js')
  script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
  script(type='text/javascript').
    $(document).ready(function() {
      PR.prettyPrint()
    })
  script(type='text/javascript', src='/js/admin/summernote/summernote-ext-highlight.js')
  script(type='text/javascript').
    $(document).ready(function() {
      $('#editor').summernote({
        height: 200,
        minHeight: null,
        minWidth: null,
        focus: true,
        prettifyHtml:false,
        toolbar:[
          ['style', ['bold', 'italic', 'underline', 'clear']],
          ['font', ['strikethrough', 'superscript', 'subscript']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']],
          ['highlight', ['highlight']],
        ],
        lang:'fr-FR'
      })
      $('.ext-highlight-btn').on('click', function() {
        setTimeout(function(){ PR.prettyPrint(); }, 1000);
      })
    })
  script(type='text/javascript').
    $('select[name="state"]').on('change', function (e) {
      $.post('/admin/support/edit-state/#{ticket.id}', {state:$(this).val()}, function(){})
    })
    $('select[name="category"]').on('change', function (e) {
      $.post('/admin/support/edit-category/#{ticket.id}', {category:$(this).val()}, function(){})
    })

block cssCustom
  link(rel='stylesheet', href='/styles/admin/summernote/summernote.css')
